[2018-07-13 15:12] jumpkick opened #1 "Plugin doesn't handle SSL-errors/untrusted CA/self-signed JIRA certs gracefully"
Hi, thanks for your work on this plugin.

I work in a corporate environment where our JIRA instance runs a SSL certificate issued by our corporate CA, the CA is in the Desktop's CA certificate store, however it is not in the VS Code bundled CA certificate store.    When I first tried your plugin I got "Failed to connect", upon opening the Developer Tools Console I got the message at the bottom.

T

[2018-07-13 15:25] jumpkick opened #2 "RFE: automatically log time against a active ticket"
I'd love the ability to automatically log time against an active JIRA ticket...

Ideally, there would be an issue id next to the Project down in the statusbar, when the user clicked on it it would give "Not logging" and a list of active tickets assigned to the user in the selected project.   Then when the user clicked on an issue, it would log time against that ticket when VS Code is not idle and

[2018-07-14 13:21] gioboa commented on #2
Hi @jumpkick,
in the last release 0.3.0 I moved all the jira operations in explorer tab and I'm thinking which is the best workflow for switch "Logging/Not Logging", maybe an action in the explorer?
I understand your request and I have to verify if I can detect when VS Code is idle or not.
In statusbar do you suggest the list only with issues "In Progress" for active user?

Thanks :smile:

[2018-07-14 13:31] gioboa commented on #1
Thanks for your notice,
the right way for me it's add a command for import JIRA cert into the VS Code certificate store.
I add this feature for the next release. :+1:

[2018-07-14 13:50] jumpkick commented on #2
Hmm, I suppose you're talking about a global setting for whether to log time at all, yeah explorer would be ok for that.  Tap it and it could pop up a dialog in the bottom right corner "Jira plugin can log time against Jira tickets, once enabled pick the active ticket assigned to you next to active project in the status bar.  Do you want to enable this?" [Enable, Disable].

Soon as the user enable

[2018-07-14 14:00] gioboa commented on #2
I'm not UI guy either so for me like this can be a good solution. :+1:

[2018-07-14 14:05] jumpkick commented on #1
I wouldn't spend too much effort on this as it will likely get fixed upstream in #vscode-52880

[2018-07-14 16:32] jumpkick commented on #2
There is a extension called [timeTrack](https://marketplace.visualstudio.com/items?itemName=shachyjr.timetrack) that does tracking of time when VSCode is active and in focus and stops when you click on a different window...  looking at that code may be of some help with implementing this feature.

Here's the git repo: https://github.com/shachyjr/timetrack

[2018-07-14 16:51] jumpkick commented on #2
This snippet suggests that
https://stackoverflow.com/questions/39569993/vs-code-extension-get-full-path

[2018-07-14 17:03] gioboa commented on #2
Cool :+1:
I saw in Jira docs there is the possibility to store work log in a issue.
[Worlog](https://confluence.atlassian.com/jiracoreserver073/logging-work-on-issues-861257349.html)
I think this is the right way to store time activity infos.

[2018-07-14 17:13] jumpkick commented on #2
Yup, that is what I'm referring to...  My boss wants my team to put in how much time we work on each issue in that field, but nobody does it because we have to open up each ticket in Jira and then manually write how long we worked... we are so busy we don't have time.

This would let our boss see somewhat how much time without us needing to each go in and enter it. 😊

[2018-07-16 07:21] gioboa commented on #1
Issue [Microsoft/vscode#52880](https://github.com/Microsoft/vscode/issues/52880) resolve the problem

[2018-07-16 07:21] #1 closed

[2018-07-17 15:54] gioboa commented on #2
Feature in v 0.4.0

[2018-07-17 15:54] #2 closed

[2018-07-18 01:54] jumpkick commented on #2
Awesome work!  It worked when I tried it...  I logged 2 minutes to test it out 😄

Today I only managed to log 45 minutes of work because I was switching between other windows.    I might take a stab at modifying it to stop the timer if I don't come back to a VS for 5 or 10 minutes or stop when the system detects away from keyboard...   But that's really a special case, as it is it works perfectly

[2018-07-19 07:57] jareis opened #3 "command 'jira-plugin.setupCredentialsCommand' not found"
After install... command 'jira-plugin.setupCredentialsCommand' not found

Also settings on local workspace, are does not working...

[2018-07-19 15:51] gioboa commented on #3
Hi @jareis,
after install, reload VS Code, from command palette Ctrl-Shift-P (Windows, Linux) or Cmd-Shift-P (OSX) type: _">Jira-plugin: Setup credentIals"_
Does it work?

[2018-07-19 18:38] jareis commented on #3
Hi @gioboa,

I have done all that and more.

meanwhile i have installed on my home laptop and works fine... i suppose there is a problem with my work installation, maybe didn't installed correctly?

Anyway i suppose it's not a bug, strange behaviour... maybe tomorrow will work!

[2018-07-20 08:07] jareis commented on #3
I will reopen this issue just to try to find why this happens:
- After a fresh install vscode ( antivirus disabled )
[code]
I still have the same problem.

At this point i'm out of ideas... any suggestion?

[2018-07-20 08:10] gioboa commented on #3
@jareis Yep, try to clean the extension cache folder of VS Code. In this folder VS Code store all the downloaded extensions.

[2018-07-20 08:22] jareis commented on #3
So...

- I have deleted by hand all cache folders on Application Support
- I have deleted by hand the `~/.vscode/extensions/gioboa.jira-plugin` folder
- reinstalled...

And i still have the same issue

[2018-07-20 08:33] jareis commented on #3
Used the vsxi file, installed, and the issue still exists

[2018-07-20 09:05] gioboa commented on #3
Try like this:
- clone repo
- open jira-plugin folder
- launch debug
- another code window must appear
- look at the output in the terminal
![output](https://user-images.githubusercontent.com/35845425/42993764-81fc5392-8c0c-11e8-8ae9-cb14c1b963f0.png)

Thanks. 👍

[2018-07-20 13:15] jareis commented on #3
So,
If i follow the steps that you gave:

[code]
After `npm install`, it works just fine

[2018-07-20 13:58] jareis commented on #3
I have just compiled the vsxi file from the source, and runs perfectly.

The noticed that the version that i compiled has a different checksum that the one on the Microsoft Market Place.

MD5 (jira-plugin-0.5.0.vsix) = 4f399caeac8549a9bab72d625ca970be
MD5 (gioboa.jira-plugin-0.5.0.vsix) = e03a745ddc376fb23b89a9c8a991a2fb ﻿

Shouldn't both be the same?
﻿

[2018-07-20 14:19] gioboa commented on #3
I don't know how VS Code create checksum, but I think that for every build is different. Now if you install the extension from marketplace it work?

[2018-07-23 07:37] jareis commented on #3
Well install hover the marketplace still doesn't work...

And i have some problem connecting to JIRA on this network - it appears to be related with the network infrastructure, and not with the Plugin.

I will close the issue because:
1 - It couldn't be reproduced
2 - This issue may be related with the particular settings of the network that I'm in

thanks @gioboa

[2018-07-23 07:37] #3 closed

[2018-07-24 00:48] jumpkick opened #5 "Enhancement ideas"
Some ideas

- Configurable minimum time block to log, i.e. don't log time if time is under 5 minutes
- Change hint over working issue to show the issue title when an issue is being timed (currently it always shows "Set working issue"
- Include the issue ids in the issue selection drop down, currently they show issue title only

[2018-07-24 05:32] gioboa commented on #5
I think that are good ideas/fix. :smiley:
I plan these tasks in the next milestone. :v:

[2018-07-25 01:53] diogogeru opened #6 "Can't activate extension: cannot find .item/filter-info-item.js"
Hi,
 I was trying to use your extension, but everytime i was trying to setup the credentials with "Jira-plugin: Setup credentials" an alert was saying "command not found".
 When i was check at developer tools, i've saw that jira-explorer.js was trying to access ".item/filter-info-item.js", but it could not find it because the file was with INFO (in uppercase).
 The fix was:
`cd ~/.vscode/extension

[2018-07-25 05:35] gioboa commented on #6
Nice catch 😊👍

[2018-07-25 08:44] Sigggi opened #8 "Allow the timer to run, even if VS Code is not in focus"
Great work so far. Thank you.

It would be nice to be able to track the time I have worked on an issue, not just the pure coding time.

Maybe with a setting?

[2018-07-25 11:41] gioboa commented on #8
Hi, I'm really happy you like the plugin. :smile:
I think your idea is a good improvement.
We can create a setting for manage both cases:
- pure code time
- "general" time
What do you think?
How we can call the two behaviors?

[2018-07-25 13:13] gioboa commented on #8
name: **trackingTimeMode**
values:
- always
- vsCodeFocus

@Sigggi  What do you think?

[2018-07-25 13:15] Sigggi commented on #8
Sound good!
Should be understandable for all, with a litte comment for the setting.

[2018-07-25 14:17] jumpkick commented on #8
@Sigggi I'm also working on a patch that would add time away back to the counter if you came back to VScode within the timeout period.   i.e. If you come back to VSCode within 20 minutes of it becoming inactive, it would add whatever amount of time you were away, if you were away longer it would not add any time when you came back.  That way if you go off to a two hour meeting or leave for the day

[2018-07-25 14:41] Sigggi commented on #8
This is awesome! Never thought of that myself, but it makes perfectly sense.

Looking forward to it.

[2018-07-25 15:14] gioboa commented on #5
@jumpkick I implemented the last feature, minimum tracking time for create Jira worklog.
Have a look [commit](https://github.com/gioboa/jira-plugin/commit/25d0424949e1937da5b996e4960b02e0073c1f9a) 👍

[2018-07-25 15:42] #5 closed

[2018-07-25 15:42] jumpkick commented on #5
Haven't tried it yet, but looking at the commit, it looks good

[2018-07-25 15:45] gioboa commented on #8
Implemented this feature [commit](https://github.com/gioboa/jira-plugin/commit/aca8c38b1a5b2dd32170cda6f9e46b5845aa7d4d) :stuck_out_tongue_winking_eye:

[2018-07-25 15:45] #8 closed

[2018-07-30 20:45] gioboa opened #10 "**docs** improve comment on code"
Some comments for documentate better the project

[2018-07-30 20:49] gioboa opened #11 "**docs** update README with new settings"
Add new settings on README

[2018-07-31 14:12] gioboa commented on #10
Done 👍

[2018-07-31 14:12] #10 closed

[2018-07-31 19:26] jumpkick commented on #8
@Sigggi release 0.6.0 adds hybrid time tracking mode that behaves as I described...  check it out :smile:

[2018-08-02 07:13] Sigggi commented on #8
@jumpkick Works as described. Thanks!

One minor thing: If I lock the screen the timer keeps counting. I just have to remember to switch focus to something else, before locking. Would be cool, if there is an easy patch for that.

But nonetheless, I recommended this extension to my coworkers, mainly because of this new feature.

[2018-08-08 06:20] kahyoung opened #12 "Support for API key authentication"
👋 This extension looks great but I can't use it at my workplace. We authenticate using Google OAuth, so we don't really have an email and password to attach.

Would love to be able to use API keys though.

I can have a look at this later on and see if I can make a PR.

[2018-08-08 20:54] gioboa commented on #12
I created a new branch "jira-connector", it's for remove custom Jira calls and use "jira-connector" [npm](https://www.npmjs.com/package/jira-connector). With this package we have Base and OAuth Authentication. :+1:

[2018-08-09 12:31] gioboa commented on #12
In this [branch](https://github.com/gioboa/jira-plugin/tree/jira-connector) I replace custom API Calls with jira-connection. In this [commit](https://github.com/gioboa/jira-plugin/commit/9164ce6566073517f55914c8d26580fe5cdee0f9) I add some code for OAuth code.
@kahyoung I need your help to verify if like this can work. 👍

[2018-08-16 05:56] rupalidesai opened #13 "unable to connect to intranet jira server"
Hi,

I have installed JIRA server in the network on a windows 7 machine.
I am trying to setup creditials using the URL as
"http://192.*.*.*:8080" and then my JIRA username and password where * is the local IP of the machine.

I am receiveing  "Failed to connect to JIRA" error?
Am I missing anything?
Please help.

Thanks
Rupali

[2018-08-19 21:30] gioboa commented on #13
Hi, your Jira server respond on port 8080? If yes, I think there are some fixes to do for use that port.
A fast solution can be map in the "etc/host" of your machine the Ip https://192.x.x.x:8080 to https://xxxxx.com and setup the credential in the plugin. :smile:

[2018-08-20 14:04] gioboa commented on #13
@rupalidesai with jira-connection branch works?

[2018-08-27 12:12] gioboa commented on #13
@rupalidesai In the v. 0.7.0 the plugin parse the baseUrl to detect protocol, url and port. <br>
e.g. `http://192.*.*.*:8080` <br>
Now you can use the plugin with your local Jira. 😄 👍

[2018-08-27 12:12] #13 closed

[2018-08-27 12:16] gioboa commented on #12
Now master branch use jira-connection lib. [v. 0.7.0](https://github.com/gioboa/jira-plugin/releases/tag/0.7.0) <br>
@kahyoung  Did you try with OAuth Authentication?

[2018-09-02 21:06] blueo commented on #12
FWIW I just tried logging in with a google account - and no joy. It looks as though i'd need to add consumer keys etc?

[2018-09-03 09:42] gioboa commented on #12
@blueo Yes, you understand the problem. <br> I don't have the possibility to try with OAuth Authentication. In `src/http/api.ts` there is the connection method. <br> Can you help me to implement OAuth Authentication connection? <br> You can follow [CONTRIBUTING.md](https://github.com/gioboa/jira-plugin/blob/master/CONTRIBUTING.md) doc and create a PR. 👍  <br> Let me know. Thanks. 😄

[2018-09-09 16:27] ShadowFM opened #14 "Issues with the filter command"
Hello,
I tried to search for a closed issue but if I try it with "done" or status = done it isn't working.
How does the filters work?

[2018-09-10 05:41] gioboa commented on #14
Hi,
the plugin under the hood create for you jql for Jira.
So you try to filter by "status"=done and "summary"=done and you didn't have any result?

[2018-09-10 14:55] gioboa commented on #12
Waiting for the PR.

[2018-09-10 14:55] #12 closed

[2018-09-14 08:20] 7417667 opened #15 "Functionality request [change working issue name]"
I would like to have a functionality which can change 'working issue' from 'In progress' to custom name, for instance: Development In Progress, Test in Progress etc.
Ideally I wish I could predefine the list of names in form of array and pick them whenever I like

[2018-09-14 08:56] gioboa commented on #15
Hi @7417667,
it can be a good functionality.
I think config param is good place for this list.

[2018-09-14 12:31] 7417667 commented on #15
Thank you @gioboa , looking forward to see the results.

[2018-09-17 10:00] gioboa commented on #15
implemented in [this](https://github.com/gioboa/jira-plugin/commit/6f0900bcfcbda48252296bd700ab1f0a3cecaae4) commit 👍 available in v 0.8.0

[2018-09-17 10:00] #15 closed

[2018-09-18 21:35] gioboa commented on #14
@ShadowFM  did you solve?

[2018-09-19 05:40] ShadowFM commented on #14
Yes, this worked, thanks :)

[2018-09-19 05:41] gioboa commented on #14
:+1:

[2018-09-19 05:41] #14 closed

[2018-09-21 03:20] Dumeng opened #16 "Keep getting the same error logs"
[code]

[2018-09-21 05:36] gioboa commented on #16
Hi @Dumeng, which are the steps to reproduce it?

[2018-09-21 07:06] gioboa commented on #16
Found the problem.
Solved with this [commit](https://github.com/gioboa/jira-plugin/commit/c47cf6bef8233505174142ad727d247b0edc4ed1)

[2018-09-21 13:03] Dumeng commented on #16
Tx a lot. And I get the error message 'Wrong parameter. No issues found for AELJ project.' with a specific project. How can I get the error log, so I can raise an issue?

[2018-09-21 14:05] gioboa commented on #16
This message appear when the Jira search fail.

So try this steps:
1 - restart VS Code
2 - select project (I think you have already select AELJ)
3 - from explorer you have all project issues
4 - from three dot button (...) try to change the filter

The error message 'Wrong parameter. No issues found for AELJ project.' persist?

[2018-09-24 15:29] gioboa commented on #16
@Dumeng Any news?

[2018-09-25 04:11] Dumeng commented on #16
This only happens when I choose 'All issues'

[2018-09-25 05:40] gioboa commented on #16
When you choose 'all issues' under the hood the plugin do this search in Jira:
`project = project_name ORDER BY updated DESC`
Really simple.
If you copy and paste this search in your Jira web application it works?

[2018-09-25 13:15] elste opened #17 "When ID search fails, side panel shows LOADING..."
if I search for a non-existent ID (eg 999999), the error message appears correctly, but the side panel shows "LOADING...".

[2018-09-25 15:39] gioboa commented on #17
Hi @elste,
I found the bug.
Solved with this [commit](https://github.com/gioboa/jira-plugin/commit/662c196f1126826191e8ccd7f6ba6bad460ef7b5).
Thanks. 🥇 👍

[2018-09-25 15:39] #17 closed

[2018-09-26 02:33] Dumeng commented on #16
Yes, it works on JIRA website

[2018-09-27 09:31] gioboa commented on #16
mmm, really strange. 😕
I will improve the error messages so we can understand the real problem. 👍

[2018-10-03 15:22] cryptogrampus opened #18 "Feature Request - Allow user to specify custom jira workflow"
I have a custom JIRA workflow defined for story tickets. None of the states are named "In Progress" so these tickets don't show up in the plugin. I'm only able to see an epic which follows the default workflow.

[2018-10-04 16:33] gioboa commented on #18
Hi @cryptogrampus ,
in the VS Code Jira-plugin settings there is `workingIssueStatues` used for extract working issue list (e.g. In Progress, Development In Progress, Test in Progress).
I think it can solve you problem.

[2018-10-06 17:01] gioboa commented on #16
In v. 0.8.3 I improved error messages. Please try now and let me know.

[2018-10-08 20:15] grubbjt opened #19 "Cannot log in when DUO in use"
User login of Jira is fronted by DUO two-factor authorization.  Has anyone had luck with a setup like this and jira-plugin?

I see no output in logs (OUTPUT --> JIRA-PLUGIN)

[2018-10-09 17:39] cryptogrampus commented on #18
works! thanks! Sorry I missed your responses

[2018-10-09 17:39] #18 closed

[2018-10-10 19:20] gioboa commented on #19
Hi @grubbjt,
can you explain the right steps to reproduce the problem?
Thanks :+1:

[2018-10-10 19:44] gioboa commented on #19
Ok I understand the problem. I will fix the output log messages so we will understand better what is the problem.

[2018-10-11 02:28] Dumeng commented on #16
The issue fixed in the new version. I don't get the error anymore.

[2018-10-11 05:44] #16 closed

[2018-10-11 09:03] ReasonableDeveloper opened #20 "Show child issues when searching for parent id"
Hey, thank you for this great extension.

I was wondering if it would be possible to show all child issues when searching for a (parent) task based on its ID. This would solve a big problem for me as `My issues filtered by status` means that I need to change my status filter two times when I want to work on another task.
Lets take a look at following scenario. Say I have `Issue 1`, `Issue 1.1` and

[2018-10-11 20:27] gioboa commented on #20
Hi @ReasonableDeveloper,
Maybe a good way to manage this scenario is to visualize in the explorer list the parent task. Under the parent also all child if present. What do you think? Can improve your daily workflow?

[2018-10-15 08:29] ReasonableDeveloper commented on #20
Yes, adding hierarchy to the task explorer would be great.

[2018-10-15 08:31] gioboa commented on #20
Perfect. 👍  Would you like create this PR?

[2018-10-16 15:15] MXM-7 commented on #19
Same issues here when I try to setup the plugin. I'm trying to using it at work and input the base URL, Username and Password but I keep getting the same error as @grubbjt
Even if I force the working project in the setting json file it tell me that "Working Project Not Correct. Select Working project in the status bar." when I click I get the previous error again and again.

Thanks for your work o

[2018-10-16 15:58] gioboa commented on #19
I'm working to fix the output log messages, soon arrive the next version.

[2018-10-16 16:02] MXM-7 commented on #19
Thanks! I was exploring the source code trying to understand and to help more actively in the future. But I'm new to this VScode plug-in world :)

[2018-10-17 12:39] gioboa commented on #19
In v[0.8.4](https://github.com/gioboa/jira-plugin/releases/tag/0.8.4) I improved error messages in the output log. @grubbjt @MXM-7  Now you can understand what is the problem. Please let me know. 👍

[2018-10-17 13:18] MXM-7 commented on #19
How I can PM you the output (For some obvious reason I can past it here) :) Thanks for your prompt fix on the log

[2018-10-17 14:15] gioboa commented on #19
@MXM-7 you can take a print screen and attach it here.

[2018-10-17 14:28] MXM-7 commented on #19
Error: Error: Working project not correct. Select working project in the status bar.
Error: {"statusCode":400,"body":"﻿<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"> \r\n<HTML><HEAD>\r\n<meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\" >\r\n<script type=\"text/javascript\" src=\"/web/javascript/commons.js\"></script>\r\n<TITLE>***Compagny Name**** - Login</TI

[2018-10-17 14:31] MXM-7 commented on #19
here is my json setting

{

    "jira-plugin.enableWorkingIssue": true,
    "jira-plugin.trackingTimeMode": "vsCodeFocus",
    "jira-plugin.baseUrl": "https://rb-tracker.**Compagny**.com/tracker",
    "jira-plugin.username": "userName",
    "jira-plugin.trackingTimeModeHybridTimeout": 30,
    "jira-plugin.worklogMinimumTrackingTime": 0,
    "jira-plugin.workingIssueStatues": "In progress",
    "te

[2018-10-17 15:02] grubbjt commented on #19
Mine is much simpler...and potentially telling :)

Error: Error: unable to verify the first certificate

[2018-10-17 19:57] gioboa commented on #19
@grubbjt your issue can be related to [this](https://github.com/gioboa/jira-plugin/issues/1) one.

[2018-10-18 09:09] MXM-7 commented on #19
I tried playing by the setting and changing the base url by removing "tracker" at the end and now I get this ;
**Error: Error: Check Jira Plugin settings in VSCode.
Error: TypeError: Cannot read property 'status' of undefined
Error: TypeError: Cannot read property 'split' of undefined**

[2018-10-18 09:28] gioboa commented on #19
Hi @MXM-7, try to reconfigure the settings from "Setup credentials" command. Then close and open VsCode. Maybe this workflow can solve the issue.

[2018-10-18 09:45] MXM-7 commented on #19
I got the error I got in the begining but with error code Error: {"statusCode":401

[2018-10-18 10:42] gioboa commented on #19
The 401 code is returned by Jira.
You can try a connection with [Postman](https://www.getpostman.com/) to reproduce the issue.
Here a test collection
[jira-plugin.txt](https://github.com/gioboa/jira-plugin/files/2491465/jira-plugin.txt)
Rename the file in jira-plugin.json and import it in Postman.

**n.b:**
protocol(http | https)://your_jira_base_url:port(http -> 80 | https -> 443 | custom port)

[2018-10-18 12:34] MXM-7 commented on #19
Thanks for your help, could you please what do you mean by import in Postman? (Should I modify the file?)

[2018-10-18 12:48] gioboa commented on #19
In Postman app you can import a collection (a list of API). Postman import json file and for upload the file in github I rename it from .json to .txt, so you have to rename it for import in Postman app.
Then you can try to reproduce the issue.

[2018-10-18 13:16] MXM-7 commented on #19
ok, I m downloading the app to test,

I get a look to the code and I Think the error is coming from the following

  async getStatuses(): Promise<IStatus[]> {
    return await **this.jiraInstance.status.getAllStatuses();**
}

and another error is coming from
      const [username, password] = **getGlobalStateConfiguration().split**(CREDENTIALS_SEPARATOR);
      this.jiraInstance = new jiraClient({

[2018-10-18 13:17] MXM-7 commented on #19
Do you think I can do step by step debugging in vscode of the plug-in execution?

[2018-10-18 14:50] MXM-7 commented on #19
I installed npm extension on vscode after I have setup npm and nodejs on my PC but impossible to build the project. I will try again latter

[2018-10-18 22:40] vody opened #21 "Add "Copy to clipboard" button to status bar"
During Jira issue development I am usually need to have a fast access to Jira issue key to use it in commit message or code comments. It would be good to add a "Copy to Clipboard" action button after Working Issue one in a status bar. Action should put working Jira issue key in clipboard in one click. This would allow to use it in commit message, code comments or snippets as well.

[2018-10-25 09:24] schmic opened #22 "Can't access JIRA when proxy is configured"
Hello,

I'm behind a proxy and therefor have that configured in my VS Code "http.proxy" setting.
The JIRA instance is not accesible through that proxy but the connection tries just that.
Afaik there is not way to exclude a host/domain from that.

The REST Client plugin (humao.rest-client) has a property to add those exceptions on a per-host-basis. Would be great if that feature could find its way

[2018-10-25 09:27] #22 closed, assigned to nobody

[2018-10-25 15:16] FedeDR opened #23 "custom workflow mapping"
like "Working issues Statues" setting (that can specify the custom workflow statues as working statues)
I think is usefull add settings to map custom statues to "Open" list (I see the open statues has dedicated icon in explorer view) and "Done" list (according to jira statues category: To do, In progress, Done)

this settings can be also used to filter the issues

[2018-10-26 13:29] gioboa commented on #23
Hi @FedeDR,
so your nice to have is define one or more status under "Open" and "Done"?
I think a better approach can be: add a setting to define custom statuses.
**e.g:** "My custom status" : "Open, In Progress, Done"
What do you think?

[2018-10-29 13:46] MXM-7 commented on #19
npm was a nightmare to setup behind a corporate proxy. so I was enable to build and run the plugging in a second vscode window, but no luck for break point so I can debug what happening at connection

[2018-10-29 15:39] gioboa commented on #19
@MXM-7 ,
first of all thanks for your help. 👍
[Here](https://code.visualstudio.com/docs/extensions/developing-extensions) there is the official doc for debugging VsCode extensions.
Who better than official doc can explain how launch debugging procedure.

Here the steps:
1. [Fork](https://github.com/gioboa/jira-plugin/fork) and clone the repository
1. Configure and install the dependencies: `npm in

[2018-10-29 15:56] FedeDR commented on #23
Hi @gioboa, thanks for the reply
if we define only the category "Open", "Done" (and the already defined "In progress")
maybe is better to approach the settings like the current "Working issue statues" setting

in a setting like:
`"my custom status": "Open, In progres, Done" (one of)`
we had to do a line for each status we define, so maybe we can be use this settings only in json visualizations?

i

[2018-10-29 16:37] gioboa commented on #23
mmm, I don't understand very well your solution :confused:
Nowadays the plugin extract from Jira all the available statuses.
Maybe can be useful define one or more custom statuses for group multiple statuses.

[2018-10-30 08:42] MXM-7 commented on #19
@gioboa Thank you for creating such a great tool, I was enable to debug my issue thanks to your procedure. I's clearly related to my corporate network, my first guess is that the authentication is not of type Basic. I'm trying different configurations to find out

[2018-10-30 08:44] MXM-7 commented on #19
@grubbjt  sorry for hijacking your thread, @gioboa I should probably create another issue?

[2018-10-30 09:37] FedeDR commented on #23
ops, I'm sorri for unclear comment.
I'm agree with you. Is usefull define one or more custom statuses.
I suggest to follow the default status category of jira to grouping the statuses.
![download](https://user-images.githubusercontent.com/7735194/47709025-b864fd80-dc2f-11e8-8bae-0e4cbc51f244.png)
Do you think we need more than the defaut ones?

[2018-10-30 10:10] gioboa commented on #23
We can introduce a setting and set the default like Jira default status category.
`To Do Category` -> 'Open, Reopened'
`In Progress Category` -> 'In Progress'
`Done Category` -> 'Resolved, Closed'
Then in the explorer we will create a filter by category.
Later every user will modify the categories in the settings. 👍

[2018-10-30 14:38] grubbjt commented on #19
@MXM-7 No worries.  I am still following, as the basic auth won't work with our DUO implementation either...

[2018-11-06 10:43] MXM-7 commented on #19
Hello Guys, I got some news I managed to connect over our corporate network with basic authentication. I have an issue know with listing the projects;
- Listing the status is OK
- I managed to get also the project list by modifying the code (Listing the project by building the request like it's done for status ). But I still cannot select a project in the status bar.
- Even If I set the working pr

[2018-11-06 11:05] gioboa commented on #19
@MXM-7
`verifyCurrentProject` extract the list of projects and compare the project key field with the project store in settings.
Did you manually insert the key of the project?
Notice that the comparison is case sensitive.

[2018-11-06 11:09] MXM-7 commented on #19
@gioboa  Thanks for your fast response I checked the code of this function but it list the projects in a different ways than the request done at connection during JIRA-Instance creation.

[2018-11-06 11:18] gioboa commented on #19
`verifyCurrentProject` use the project list stored in state object.
state.projects is populate in the plugin startup in this way: `state.projects = await state.jira.getProjects();`
`state.jira.getProjects()` use project.getAllProjects() of Jira Connector Lib. 😕

[2018-11-06 12:02] MXM-7 commented on #19
ok let try to make this more consistent by using the same project list at plugin startup and during verification. It seems that the lib jira connector is throwing some unknown error that is hard to debug for now. I let you know quicly what I got.

[2018-11-06 12:28] MXM-7 commented on #19
it seem that even if I set a manually a working project in the Json file the verifyproject function is feed with an empty string as project name.

[2018-11-06 12:56] gioboa commented on #19
Notice that if you manually change plugin settings you must restart VsCode instance for apply the new settings.

[2018-11-06 15:19] MXM-7 commented on #19
I have tried with and without restarting VsCode and I confirm that the plugin overwrite my setting at start ;) . I' still progressing and improving my knowledge of the plugin and it's main library

[2018-11-06 15:36] MXM-7 commented on #19
Sorry for been so useless @gioboa  could you please point me to the function called when I press the project name in the status bar?

[2018-11-06 16:04] gioboa commented on #19
@MXM-7 search in the code `jira-plugin.setWorkingProjectCommand` and you will find how the function is called.

[2018-11-06 16:13] MXM-7 commented on #19
Unfortunately I already tried to put a break point every where this is mentioned in the code. And it never stop so I can follow execution (Sorry for bothering you with such basic stuff)

[2018-11-06 16:30] gioboa commented on #19
- set a break point e.g. file: extension.ts row: 21 (it must work)
- if VsCode will stop in the row then you know that something happen before `jira-plugin.setWorkingProjectCommand` execution. 👍

[2018-11-06 17:37] MXM-7 commented on #19
I confirm it never reach that code when I press the project selection in the status bar .... but it keep throwing an error saying empty request (the message is much longer but the idea is there)

[2018-11-06 17:40] MXM-7 commented on #19
here is the interesting part

"headers":{"connection":"close","content-length":"4488","content-type":"text/html","date":"Tue, 06 Nov 2018 17:04:59 GMT","p3p":"CP=\"NON CUR OTPi OUR NOR UNI\"","cache-control":"no-cache","pragma":"no-cache"},"request":{"uri":{"protocol":"https:","slashes":true,"auth":null,"host":"tracker.MYCOMPAGNY.com","port":443,"hostname":"tracker.MYCOMPAGNY.com","hash":null,"sea

[2018-11-06 17:48] gioboa commented on #19
Mmm if your Jira is public I can try to connect to it.
If you create a user for me I try to solve the problems. [Here](https://gioboa.github.io) my contacts.

[2018-11-06 17:52] MXM-7 commented on #19
unfortunately it's not public and you wont be enable to connect from outside.

[2018-11-06 17:53] MXM-7 commented on #19
it's strange that I can't trigger the code that is supposed to display the project list , when I check the code the project list is properly populated

[2018-11-08 17:00] MXM-7 commented on #19
Hi I managed to fix my issues, so know the plugin is working for me. it was just an issue with the request to load the project list. I fixed the code but I'not sure if it make sense for all users... so I may let the code of getAllproject as it'is and catch any error : if an error is triggered I will execute my code to build the request . @gioboa thank you for your help (All other issue reported by

[2018-11-08 17:50] gioboa commented on #19
@MXM-7 sure, you can create the PR. :+1:

[2018-11-08 23:03] EisenbergEffect opened #25 "Feature: Create Jira Ticket"
It would be cool to be able to create new Jira tickets from the plugin directly.

[2018-11-09 08:30] gioboa commented on #25
Hi @EisenbergEffect ,
the possibility to create Jira Ticket it's for sure a great feature.  👍
Choose the right creation workflow it's also really important.
Have you got any idea for implement this workflow?

[2018-11-09 13:36] MXM-7 commented on #19
@G3ph4z  I'm very new to all of this . I struggled to sync my repo with the most recent version. I will do the pull request today. It hope it work for everyone having this issues

[2018-11-09 13:40] MXM-7 commented on #19
@gioboa  I just realized that the fix in the jira-connector lib code. Should I first fix the Jira-connector lib and let you update the lib?

[2018-11-09 14:06] gioboa commented on #19
Yep. So at the end is jira-connector lib bug?

[2018-11-09 14:17] MXM-7 commented on #19
Yes it's a jira connector bug.

two solutions then:
-Updating the lib and waiting for pull request to be acepeted
-Make our own implemetation of getAllProjects() in jira-plugin

[2018-11-09 14:40] gioboa commented on #19
@MXM-7
the right way to proceed is make a PR to the lib.
If your fix require only few lines of code, you can post here the fix. Then I compile and publish the plugin with this fix.
After that, for the next jira plugin releases, we will wait the new version of the jira connector with your PR.
Thanks. 👍

[2018-11-09 14:59] MXM-7 commented on #19
here is the current implemtation of the function GetAllProject in the Jira-Connector lib
`    this.getAllProjects = function (opts, callback) {
        var options = this.buildRequestOptions(opts, '', 'GET');

        return this.jiraClient.makeRequest(options, callback);
};`

the buildrequestOption is making something odd

here is my implementation that work and made jira-pluggin work properly on

[2018-11-09 15:05] MXM-7 commented on #19
here is the code of buildrequest function that may lead to other issue in the jira-plugin

`    /**
     * Build out the request options necessary to make a particular API call.
     *
     * @private
     * @method buildRequestOptions
     * @memberOf ProjectClient#
     * @param {Object} opts The arguments passed to the method.
     * @param {number} opts.projectIdOrKey The id of the project to

[2018-11-09 15:15] gioboa commented on #19
Do you think the exception append because there are body and qs equal to {} ?
Here the screenshot of options variable created by jira connector.
![screenshot 2018-11-09 at 16 10 34](https://user-images.githubusercontent.com/35845425/48270469-76f7fd80-e43a-11e8-9dc7-6009b09ee45a.png)

[2018-11-09 15:30] MXM-7 commented on #19
probably but why only few complain about this?

I created an issue on the jira-connector repo, waiting for a comment but it seems that there not much activity over there

[2018-11-09 15:40] EisenbergEffect commented on #25
@gioboa I don't have a lot of thoughts on it. I'm somewhat new to using Jira myself. However, I was in a meeting the other day with some coworkers and they were discussing how painful it was to create a ticket through Jira's site. So, I went poking around and found this plugin, which has a lot of great features, and I thought "if it just had some ability to create tickets, I think this would meet

[2018-11-09 16:02] gioboa commented on #19
@MXM-7  pls try this code:
![screenshot 2018-11-09 at 16 29 43](https://user-images.githubusercontent.com/35845425/48271466-af98d680-e43c-11e8-9290-dc2b9866f817.png)
In my environment works well.
If in your environment works, I will publish the new version with this fix.

[2018-11-09 16:18] gioboa commented on #25
Yep, it can be a really great plus.
I schedule the implementation of this feature.
Any suggestions are welcome. 👍

[2018-11-09 16:44] MXM-7 commented on #19
ok I test and get back to you

[2018-11-09 16:45] MXM-7 commented on #19
I would sugest to do the delete only if those are empty . how does it sound (So we do not overwrite the behaviour of this function)

[2018-11-09 16:48] MXM-7 commented on #19
Good news it's working but still the fix is in the jira-connector lib ??

[2018-11-09 16:54] gioboa commented on #19
Yes, I modified the function `getAllProjects` in the js of the lib.

[2018-11-09 16:59] MXM-7 commented on #19
Thank you very much. Let see if the Jira-connector owner will be responsive to our request . I will complete my post by mentioning the empty body and qs problem

[2018-11-10 10:42] MXM-7 commented on #19
Hello, thqnk you I will check that on monday .
if it not fixed for the initial thread question I will continue the effort.

I saw the request for adding creation of ticket, I , good at creating UI if you want help

[2018-11-10 11:10] G3ph4z commented on #19
@gioboa I updated to 0.9.1., but its still doesn't work for me. I get same error output message.

![image](https://user-images.githubusercontent.com/26697727/48300649-8ed68c80-e4e1-11e8-9c3d-6ab98b7a7014.png)

[2018-11-10 11:18] MXM-7 commented on #19
can you send the log content?

[2018-11-10 11:32] gioboa commented on #19
Here you can find the log. 👍
<img width="591" alt="screenshot 2018-11-10 at 12 31 24" src="https://user-images.githubusercontent.com/35845425/48300864-93507480-e4e4-11e8-8e5a-beb1018d209d.png">

[2018-11-10 11:36] G3ph4z commented on #19
@gioboa Thank you, I put the link in my previous comment, also I think this cause the issue:
`"x-authentication-denied-reason":"CAPTCHA_CHALLENGE; `

[2018-11-10 12:08] gioboa commented on #25
I thought a workflow like this. ( with many other fields )
![insert_ticket](https://user-images.githubusercontent.com/35845425/48301170-bc273880-e4e9-11e8-9a18-3092499cc651.gif)

[2018-11-10 13:51] gioboa commented on #19
@G3ph4z
oh.... I know very well this issue. 👍
I had got the same problem, I spended 2 hour to understand why.
It's because you failed many times the Jira login.
To solve the problem you have to login one time in the web.
In the Jira web application for sure you must fill also the captcha code.
After you do a successfull login in Jira web application the plugin will work for sure.

[2018-11-10 13:56] G3ph4z commented on #19
@gioboa I was logged in, I did re-login, and turned on the "Remember my computer", and now its quite working. Now, I have new problem, this:

[code]
Also I get this error when I try to select project.

[2018-11-10 14:01] gioboa commented on #19
Are you trying with v 0.9.1?
Please restart also VsCode.
@MXM-7 Did you get the same error?

[2018-11-10 14:08] G3ph4z commented on #19
@gioboa Hm, its working now. thanks :)

[2018-11-10 14:24] gioboa opened #26 "Error: "x-authentication-denied-reason": CAPTCHA_CHALLENGE"
CAPTCHA_CHALLENGE error happened because your user failed many times the Jira login.
To solve the error you have to follow this steps:
1. login one time in Jira web application. (for sure you must fill also the captcha code)
1. after you do a successful login in Jira web application the plugin will work 🎉

[2018-11-10 14:24] #26 closed, assigned to nobody

[2018-11-12 07:38] bm-stschneider opened #27 "Workflow status differ from status field"
Issue Type: <b>Bug</b>

It seems that the plugin cannot find my username although I'm logged in with that username and I have an issue in progress.
I even reassigned it to me with the plugin and it doesn't work.

Extension version: 0.9.1
VS Code version: Code - Insiders 1.29.0-insider (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-10T00:26:25.769Z)
OS version: Darwin x64 17.7.0

<details>
<sum

[2018-11-12 08:44] MXM-7 commented on #19
@gioboa It's now working for me , thank you so much for your time

[2018-11-12 11:41] gioboa commented on #27
Hi @bm-stschneider ,
the problem is that your working issue list is empty?
The plugin search for issues assigned to you with status 'In progress' (status is configurable)
Here the Jira jql:
`${selected_project} AND status in (${statuses}) AND assignee in (currentUser()) ORDER BY status ASC, updated DESC`

[2018-11-12 12:29] bm-stschneider commented on #27
![image](https://user-images.githubusercontent.com/30625381/48347586-ee1dd380-e67e-11e8-86f2-4054e37cdb90.png)

[2018-11-12 12:36] gioboa commented on #27
It's a screenshot of Jira web application so I suppose it's not a VsCode plugin issue. :confused:

[2018-11-12 12:37] bm-stschneider commented on #27
Well, it would be nice if I could adjust the working issue status of the plugin

[2018-11-12 12:43] gioboa commented on #27
Now I understand. I take directly the status from Jira JSON response.I can check if there is some strange difference with some other status filed in the JSON.

[2018-11-12 14:21] gioboa commented on #25
@MXM-7 I created a branch for this feature.
My last commit is a first easy implementation of a possible workflow.
Would you like to help me with this?

[2018-11-12 14:42] gioboa commented on #25
I don't think so 😞
You have to check VsCode API.

[2018-11-12 14:52] MXM-7 commented on #25
Do You think we can then improve the Jira-Pluggin section where the project and issue list is displayed (Adding button etc)

[2018-11-12 22:40] gioboa commented on #25
Only if VsCode allow the functionality.
In the create_ticket branch I made a creation call (it works).
Now you can add an issue only with few info (type, summary, description), we can work for manage more fields.

[2018-11-13 14:34] grubbjt commented on #19
This update did fix the output to show my errors, but I still get a 401 unauthorized.  Our DUO implementation is installed at the load balancer level.  I spoke with our sysadmin over that project and he stated that basic auth will never work with our setup, unfortunately.  Thank you for your work on this project!

[2018-11-13 14:49] MXM-7 commented on #25
I have cloned the branch and  will have a look and see what I can do . To be honest your work flow is functional and very usable. But would be glad if I can contribute to improve it or at least test it :)

[2018-11-13 15:07] gioboa commented on #25
Now the functionality manage only 3 field.
If you want, you can try to add "priority" and "labels" field.
I will implement the possibility to open the created issue and manage the assignee field. 👍

[2018-11-14 14:27] gioboa opened #28 "icons for all available states"
**Descriptions**
Now only few statuses own the specific icon.
Need to manage icons for all available states, now the fallback is default icon.

**Additional context**
Have a look to `STATUS_ICONS` constants in `constants.ts` file.
Icons are [here](https://github.com/gioboa/jira-plugin/tree/master/images/icons) and must be for dark and light theme.

[2018-11-15 18:26] #28 closed, assigned to nobody

[2018-11-17 14:53] gioboa commented on #25
@MXM-7 did you do something?
do you need a help for manage priority and labels field? :smile:

[2018-11-19 10:56] MXM-7 commented on #25
@gioboa  Hello, I spent some time on that but mainly on learning more on vscode plugging creation. I found some existing pluggin with very advance UI (I guess it's possible to have something very user frendly)

[2018-11-19 11:18] gioboa commented on #25
ok, for you it's ok if I will finish the functionality?
After, we can plan a graphic refactor 👍

[2018-11-19 14:01] gioboa commented on #25
Functionality added in [v 0.10.0](https://github.com/gioboa/jira-plugin/releases/tag/0.10.0)
If you find some bug or something to improve please open a GitHub issue. 🥇

[2018-11-19 18:25] alexandremsouza1 opened #29 "Input two workingIssueStatues in the VS Code Jira-plugin settings."
Is it possible to put two types of status in the jira settings?
Ex: Testing and in progress

I restarting vs code but does not work.

Need help.

[2018-11-19 19:46] gioboa commented on #29
@alexandremsouza1 yes, it is possible. This setting is for this purpose.
It must work.
Can you attach a screenshot of you setting? Thanks. :+1:

[2018-11-19 20:01] alexandremsouza1 commented on #29
![capturar](https://user-images.githubusercontent.com/38253342/48731828-1f6d4500-ec25-11e8-80fd-7857dfbc3fc0.PNG)

[2018-11-19 20:55] gioboa commented on #29
The setting value it's correct. The plugin verify also that the status is valid and in the available status list.
If you set only `Testing` and the plugin search for `In progress` issue means that `Testing` is not valid status.
![schermata del 2018-11-19 21-45-44](https://user-images.githubusercontent.com/35845425/48734393-97e3fe00-ec45-11e8-8b29-39890f83f2c4.png)

[2018-11-20 01:39] alexandremsouza1 commented on #29
How to check valid status using the plugin?

[2018-11-20 06:32] gioboa commented on #29
In the explorer, If you filter the issues for status, the plugin list you all the available statuses. :smile:

[2018-11-20 08:55] bm-stschneider commented on #27
Ok I checked the REST call on status. And the name is 'In Progress' which schould be fine.
I also added it in the config
![image](https://user-images.githubusercontent.com/30625381/48762015-5f2a4000-ecaa-11e8-86d6-818e00dc1e8c.png)
The ticket is under the Status: In Progress view for the active sprint also but when I filter by status it is not found and also is not found as working issue.

[2018-11-20 09:45] gioboa commented on #27
Try to search the ticket by id.
When appear in the list you can also see the current status of the ticket.
Is this In Progress?

[2018-11-20 10:13] bm-stschneider commented on #27
Yes, it is 'In Progress'

[2018-11-20 10:21] alexandremsouza1 commented on #29
Thank you man 👍

[2018-11-20 10:29] bm-stschneider commented on #27
I moved it into In Progress and reopened it again and checked the REST response and such. Yes I'm the assigne

[2018-11-20 10:30] bm-stschneider commented on #27
Tickets with other status are found.

[2018-11-20 10:52] bm-stschneider commented on #27
Even if I add other status to the working issue status that I can filter by status successfully, it doesn't work

[2018-11-20 10:54] bm-stschneider commented on #27
the working issue works with the other status but the explorer filter does not.

[2018-11-20 11:03] gioboa commented on #29
Can I close the issue? It's all ok now?

[2018-11-20 11:09] gioboa commented on #27
I lost a little bit the focus of the problem. 😕
All tickets with `In problem` status have this issue?

[2018-11-20 11:32] alexandremsouza1 commented on #29
Yes

[2018-11-20 11:34] gioboa commented on #27
When you filter by status from explorer the plugin perform this query:
`project = ${project} AND status = '${status}' ORDER BY status ASC, updated DESC`
From working issue in the status bar exec this query:
`project = ${project} AND status in (${statuses}) AND assignee in (currentUser()) ORDER BY status ASC, updated DESC`
where ${statuses} is taken from `workingIssueStatues` setting
Please try to

[2018-11-20 11:48] NKjoep commented on #12
Hello,

I came here for the same reason, I'd like to _connect_ to Jira with a user token.

Reading the [jira-connect documentation](https://github.com/floralvikings/jira-connector), it looks like it's just not supported.

However, according on the [Atlassian documentation](https://confluence.atlassian.com/cloud/api-tokens-938839638.html), the user token can be used as a password for basic auth :)

[2018-11-20 12:02] bm-stschneider commented on #27
Ok so the statuses from the api are not resolved correctly as it seems. The Status that should be 'In Arbeit' is also shown as "In Progress" but they do not match the status then.

[2018-11-20 12:16] #29 closed

[2018-11-20 12:19] gioboa commented on #27
Nice catch. :smile:
Yes, I can add something like this. :+1:

[2018-11-20 12:22] gioboa commented on #12
Hi, so even if you put your email in user and the token inside the password the authentication went wrong?

[2018-11-20 12:32] NKjoep commented on #12
Yes, it went wrong and I get the long log in the vscode extentension output panel.

[2018-11-20 13:15] gioboa commented on #12
So if we insert in **user** the `email` and inside **password** the `token`, will it work correctly?

[2018-11-20 14:14] NKjoep commented on #12
*Correct!*

It worked like this for me:

 0. go to https://id.atlassian.com/manage/api-tokens and create a token
 1. close all the vscode
 2. open one vscode instance
 3. setup the jira-plugin with:
 3.a url: your base atlassian url (https please!)
 3.b username: your full email
 3.c passowrd: the token

[2018-11-20 14:23] gioboa opened #30 "authentication with token"
Related to [#12](https://github.com/gioboa/jira-plugin/issues/12#issuecomment-440287263)

Jira plugin allow you to execute login with token.
Insert your `email` in **username** field and you `token` in **password** field.

[2018-11-20 14:23] #30 closed

[2018-11-20 18:11] blueo commented on #12
so this worked for me too, thank you for the instructions!

[2018-11-20 18:19] alexandremsouza1 commented on #29
sorry giboa, my function **jiraInstance.status.getAllStatuses()** retrun empty array.

I have a problem.

[2018-11-21 01:25] Kaffiend opened #31 "Cannot Comment"
**Describe the issue**
Cannot comment on issue, complains about missing assignee field.

**To Reproduce**
Steps to reproduce the behavior:
1. Have what jira calls a Next Gen project
2. pull all issues for project
3. right click in explorer => add comment
4. enter text for the comment and submit

**Expected behavior**
Expected a comment to be created on the issue.

**Screenshots**
![image](https://

[2018-11-21 01:40] Kaffiend opened #32 "Cannot Create Issue"
**Describe the issue**
Throws errors trying to create an issue. Also the scope of the command is not within the jira-plugin: scope of command filtering
**To Reproduce**
Steps to reproduce the behavior:
All the required fields were filled out, gif was just too big so i had to cut it.
![d37fa4c1-cdaa-435f-b32b-065c0ede84dd](https://user-images.githubusercontent.com/7826229/48813270-2919aa00-ed04-11e

[2018-11-21 06:37] gioboa commented on #29
Hi, could you open a different issue for that? I'm glad to help you.

[2018-11-21 08:11] gioboa commented on #31
Do you remember if the comment had any mention like `[@]`?

[2018-11-21 08:44] gioboa commented on #32
Hi @Kaffiend ,
you should verify* the create screen that matches your issue type and project and make sure that the fields are present and available for completion.

* by creating an issue in the UI - do you get a screen with those fields on it? Make sure you use the same user, project and issue type you are using in Jira plugin.

[2018-11-21 10:05] #31 closed

[2018-11-21 13:40] alexandremsouza1 opened #33 "Issues filtered by status dont work"
The filter is empty!

![tela](https://user-images.githubusercontent.com/38253342/48844602-80aa2b00-ed81-11e8-9434-9c95a0fc0731.gif)

My language is in Portuguese, I believe this is a problem.

Debugging I noticed that the function  **jiraInstance.status.getAllStatuses()**   returned nothing

I also noticed that even changing the default values (In progress) ​​of the settings, nothing happened

[2018-11-21 13:43] Kaffiend commented on #32
![image](https://user-images.githubusercontent.com/7826229/48844804-e938de00-ed68-11e8-88a7-b5e87ff0f6c7.png)

@gioboa here is the issue screen, like mentioned before this is what they call the next-gen jira and i'm not sure if has a different api that you consume, I imagine it is versioned endpoints so there should be a way to detect it if there is a difference.

When entering an issue i only hav

[2018-11-21 13:57] gioboa commented on #33
The default 'In progress' status is for working issues search.
It's a strange situation, the plugin ask to Jira all the available statuses with this function `jiraInstance.status.getAllStatuses()`. This array must be populated.
Do you find any errors in the terminal output log?

[2018-11-21 14:06] Kaffiend commented on #31
Confirmed fixed

[2018-11-21 14:31] Kaffiend commented on #32
@gioboa how are you depicting what fields are required to create an issue? Are you querying the project for issue context and their required fields?
Check [here](https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/#getting-metadata-for-creating-issues-examples) for discovering issue field schema, according to the `Discovering issue field data` section.

[2018-11-21 16:21] alexandremsouza1 commented on #33
only this

![capturar](https://user-images.githubusercontent.com/38253342/48854291-af7fcb80-ed98-11e8-9aee-9c9c9a1a80aa.PNG)

[2018-11-21 17:06] gioboa commented on #32
Thanks, with your help I found the way to recognize mandatory fields.
Now I'm working to fix the code. 💯

[2018-11-21 17:41] gioboa opened #34 "errors output log"
Here you can find the log. 👍
<img width="591" alt="48300864-93507480-e4e4-11e8-8e5a-beb1018d209d" src="https://user-images.githubusercontent.com/35845425/48858919-f8e21200-edbc-11e8-9a22-1f75845af1b0.png">

[2018-11-21 17:41] #34 closed

[2018-11-21 21:35] Kaffiend commented on #32
@gioboa Just an FYI i recreated my project using the original scrum and project type instead of next gen and it works as long as i dont have any mandatory fields. So this fix you're working on 'should' take care of both 😄

[2018-11-21 21:48] Kaffiend opened #35 "Create Subtask"
**Describe the issue**
When trying to create a sub-task there is not a means to enter the parent task and output shows non-was specified even when working issue is set.

**Expected behavior**
Expected subtask to be created on current working issue, or ability to specify issue key when entering subtask

[code]

[2018-11-21 22:17] gioboa commented on #32
So in this particular case `"customfield_10100":"Customer is required."` there is a custom field required.
Mmm, seems to be really hard manage all the possibilities.

[2018-11-21 22:59] Kaffiend commented on #32
@gioboa you would need a way to dynamically build the menu options from the required fields, since jira allows custom fields and the ability to make them required or optional the plug-in will have to support them. From what i saw of the example response there isn't a field name other than `customfield_****, so if you built the create issue menu from the response metadata users wouldnt know what cu

[2018-11-21 23:20] Kaffiend opened #36 "Create Issue command scope"
**Describe the issue**
`Create Issue` command does not show up under `jira-plugin: command` scope was this intentional?
Mindeset when issuing commands for extensions its to always type its scoped prefix first and when create issue doesn't appear it feels less intuitive

**To Reproduce**
Steps to reproduce the behavior:
open command pallet type `jira`

**Expected behavior**
All plugin command to ap

[2018-11-21 23:43] #32 closed

[2018-11-21 23:46] Kaffiend opened #38 "Custom Required Fields"
**Is your feature request related to a problem? Please describe.**
Custom Required Fields are not populated in the create issue command.

**Describe the solution you'd like**
Query the [api](https://developer.atlassian.com/cloud/jira/platform/rest/v3/?utm_source=%2Fcloud%2Fjira%2Fplatform%2Frest&utm_medium=302#api-api-3-field-get) for the fields to build a dynamic menu including required custom fi

[2018-11-21 23:57] Kaffiend commented on #38
The above linked api call is from version 3 (beta) of the api and seems to be the animal we are looking for 😸 just looking at the example response it can be used to build the create issue menu from the response, including custom fields

`GET /rest/api/3/field`
[code]

[2018-11-22 05:54] #36 closed

[2018-11-22 06:44] gioboa commented on #38
@Kaffiend you are right. 👍
We can change the workflow.
1. First of first we choose the _issue type_.
1. With _issue type_ we can retrive all the fields.
1. Then for each field we need "display_name" and possible values.
@Kaffiend do you know how many types there are for "schema"? { "type": "`option`/`string`" ... }
We need also a Jira API for extract all the values for each field
1. Now we have al

[2018-11-22 06:47] gioboa commented on #35
Related to #38 and required field.

[2018-11-22 06:47] #35 closed

[2018-11-22 08:38] gioboa commented on #33
@alexandremsouza1 Hi,
in the v 0.10.4 I added a [new setting](https://github.com/gioboa/jira-plugin/blob/68a464bdef865110f428b32ccd1c72003d38abd0/package.json#L95) to solve this kind of problem.
It's a workaround for your issue.
Let me know. Thanks. 👍

[2018-11-22 08:38] gioboa commented on #27
@bm-stschneider  Hi,
in the v 0.10.4 I added a [new setting](https://github.com/gioboa/jira-plugin/blob/68a464bdef865110f428b32ccd1c72003d38abd0/package.json#L95) to solve this kind of problem.
It's a workaround for your issue.
Let me know. Thanks. 👍

[2018-11-22 08:42] gioboa commented on #20
Waiting for PR. 👍

[2018-11-22 08:42] #20 closed

[2018-11-22 08:43] gioboa commented on #21
Waiting for VsCode core API.

[2018-11-22 08:43] gioboa commented on #23
Waiting for PR. 👍

[2018-11-22 08:43] #23 closed

[2018-11-22 10:46] alexandremsouza1 commented on #33
hi @gioboa  this version dont work.
the error still persists.

if I try to change the issue status using the **change issue status**   they are displayed and when I try to view using the **Issue filtered by status** dont work.

[2018-11-22 11:04] alexandremsouza1 commented on #33
@gioboa
 I used the new functionality and it worked but I can not point hours. Only with status "In Progress".

![teste](https://user-images.githubusercontent.com/38253342/48899051-9a0caf00-ee35-11e8-8ce2-6b0be1347f61.gif)

[2018-11-22 11:08] gioboa commented on #33
@alexandremsouza1  You have to set also `workingIssueStatues`. 👍

[2018-11-22 11:12] bm-stschneider commented on #27
Wonderful 👍

[2018-11-22 11:12] gioboa commented on #27
Can I close the issue?

[2018-11-22 11:12] #27 closed

[2018-11-22 11:13] alexandremsouza1 commented on #33
After reboot it worked!!!!

Very Very thank you.

[2018-11-22 11:15] #33 closed

[2018-11-22 17:39] Kaffiend commented on #38
Based on the schema of the custom field we then might have additional calls to get that fields options like a select (dropdown field), date we can just handle that on our own with validation, i'm trying to find the api call to get the options of configured select field.

[2018-11-22 18:33] gioboa commented on #38
In the createMetaData response there is also the availableValues and for some field there is the uri for retrieve all the values. I'm working for create a configurable code. I've almost done then if you want you can have a look into the code.

[2018-11-26 14:07] Kaffiend commented on #38
ok, ill give it a try this evening and let you know 😄

[2018-11-26 14:08] Kaffiend commented on #38
ok, ill give it a try this evening and let you know 😄

[2018-11-27 16:51] EisenbergEffect commented on #25
Thanks for picking this up and working on it with such enthusiasm @gioboa ! I'm sharing this with the rest of the team today 😄

[2018-11-27 17:37] gioboa commented on #25
I must manage all field types yet because for custom types retrieve the options is difficult. I hope can be a good base for you and your team.

[2018-11-29 08:19] Sigggi opened #39 "Switch to other Issue without logging the worktime"
Right now I have to log the time I've spend on one issue if I want to switch to another issue or no issue. Sometimes I select an issue and decide that it would be better to work on another issue first. So I have to log that one or two minutes, and then delete the time logged in the issue.

If I change the issue, it should not be mandatory to log the time I spend on the current issue.

[2018-11-29 08:34] gioboa commented on #39
Hi @Sigggi ,
I will check the current workflow because my idea it was to ask every time at user if create a worklog or not.

[2018-11-29 10:41] Sigggi commented on #39
But if I answer no, the timer stops, and the issue does not change, only if
I click yes, or yes with comment, then the issue changes.

Am Do., 29. Nov. 2018 um 10:29 Uhr schrieb Giorgio Boa <
notifications@github.com>:

[2018-11-29 10:59] Sigggi commented on #39
This bug is fixed in 0.10.6

[2018-11-29 10:59] #39 closed

[2018-11-29 21:15] gioboa commented on #21
I'm implementing the feature "copy to clipboard". @vody do you think that more generic option in the issue menu can do the job?

[2018-12-02 19:40] gioboa commented on #21
Add copy to clipboard with #40 PR. :+1:

[2018-12-03 16:57] yrwol opened #41 "Filter by JQL Custom Filter"
Hi,

I would like the ability to provide a custom filter using JQL to display tickets.

Example: https://marketplace.visualstudio.com/items?itemName=crhistianr.jira-issues

Thanks!

[2018-12-03 16:58] yrwol opened #42 "Comment Currently Working Jira Issue"
Hi,

I would like the ability to insert a comment that is the JIRA Issue ticket. It would be nice to be a short cut - the default short cut for comment is CTRL + /

i.e.

// JIRA-123

Thanks!

[2018-12-03 17:00] gioboa commented on #41
Hi @yrwol ,
nice feature. I will implement it in the next release. 👍

[2018-12-03 17:35] gioboa commented on #41
@yrwol The second idea for me it's much better.
I can't change the menu at runtime so I will implement a generic "custom filters" option and then the user will choose the custom filter from a list. What do you think?

[2018-12-03 17:36] yrwol commented on #41
@gioboa that sounds perfect!

[2018-12-03 17:38] gioboa commented on #42
@yrwol I don't understand the feature. Can you explain the workflow please. 😕

[2018-12-03 19:35] gioboa commented on #42
Now I understand the feature.
I will check how implement it in the next release.

[2018-12-03 23:08] gioboa commented on #41
I added the feature in [v. 0.11.0](https://github.com/gioboa/jira-plugin/releases/tag/0.11.0)

[2018-12-03 23:08] #41 closed

[2018-12-03 23:11] gioboa commented on #42
I added the feature in [v. 0.11.0](https://github.com/gioboa/jira-plugin/releases/tag/0.11.0)

_In next releases I will implement this:_
When inserting - there are options a user might want...
1. Insert Above
2. Insert Below
3. Insert In-line

[2018-12-03 23:11] #42 closed

[2018-12-06 16:43] #25 closed

[2018-12-06 16:44] gioboa commented on #25
Functionality added in [v 0.10.0](https://github.com/gioboa/jira-plugin/releases/tag/0.10.0)

[2018-12-06 16:48] gioboa commented on #38
@Kaffiend Do you have some feedback?
If you don't have any feedback, we can close this issue. 👍 😄

[2018-12-10 06:47] #38 closed

[2018-12-10 12:15] Kaffiend commented on #38
Apologies been a tad busy of late.

On Mon, Dec 10, 2018, 1:47 AM Giorgio Boa <notifications@github.com wrote:

[2018-12-18 16:58] sethbacon opened #45 "Unable to select assignee during create issue when list is too long"
**Describe the issue**
Unable to create issue. Our list of jira users is quite long (hundreds of users) and I only get a single page of potential assignees (basically some of the a's) Typing my name does not find it in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Command Palette
2. Type Jira
3. Select Insert Jira issue
4. Assignee is one of the *Required fields
5. Potentia

[2018-12-18 18:32] gioboa commented on #45
Hi, you are right. In this [line](https://github.com/gioboa/jira-plugin/blob/ad759c5e83519251f0614458665b2b4dfea878d9/src/commands/create-issue.ts#L132) I limited the result to 50 rows and I don't remember why.
I will fix it soon, sorry... It's a big fault.

[2018-12-18 20:16] sethbacon commented on #45
No problem, thanks for the quick response.

[2018-12-19 09:09] gioboa commented on #45
@sethbacon solved with [v 0.11.1](https://github.com/gioboa/jira-plugin/releases/tag/0.11.1).
Please give me your feedback. Thanks. 👍

[2018-12-19 16:58] sethbacon commented on #45
@gioboa Working great now!!! Thanks for your quick turnaround.

[2018-12-19 16:58] #45 closed

[2018-12-20 16:39] LarBearrr opened #46 "issue: Unable to create issues"
**Describe the issue**
After selecing a project, and trying to create a new issue from the Jira menu, the issue is not created and the Create issue menu repeatedly flashes.

**To Reproduce**
Steps to reproduce the behavior:
1. select the desired project from the status bar in VS Code
2. Open the Jira menu by clicking on the Jira icon on the left
3. Click the + to 'Create issue'
3. Select the issue

[2018-12-20 17:17] gioboa commented on #46
Hi @LarBearrr ,
do you have any other required fileds for task type?
Do you have any errors in the [output log](https://github.com/gioboa/jira-plugin/issues/34)?

[2018-12-20 17:22] LarBearrr commented on #46
Thank you for the quick reply.
1. The only other required field I see when I create an issue in Jira is the Reporter field:
![image](https://user-images.githubusercontent.com/28734844/50300235-7430f500-0449-11e9-93ec-441353f98f6c.png)
However, as you can see from my snip, my name is filled in by default. Could this be the issue?
2. The output log is not showing any errors:
![image](https://user-im

[2018-12-20 17:38] gioboa commented on #46
Yes, I suppose this is the problem.
The plugin check required fields before execute the Jira request.
The plugin try to manage all the field types, I need to check the report field.
The reporter field in not field list so for sure the plugin can't manage it.
Your reporter field it's custom?

[2018-12-20 17:53] LarBearrr commented on #46
Sounds about right. What I'm curious about is that other required fields show up for different types of issues. From what my manager is telling me, the Reporter field is part of the default field schema.
Does the plugin look for custom fields?

[2018-12-20 19:37] gioboa commented on #46
I will check for manage reporter field. :+1:

[2018-12-20 20:52] keithturley opened #47 "Unable to Use favourite Filters"
Using the favourites filter no results are returned despite me having 2 "Starred" filters in JIRA setup (Ive also tried to make the starred filters public and still no luck). Running on Jira Cloud and VS Code Version 1.30.1 (1.30.1)

If it wasnt for this one very significant issue then this would be the number 1 jira extension in VS Code for me. e.g. we have lots and lots of statuses amongst lots

[2018-12-20 20:58] gioboa commented on #47
Hi @keithturley so your first issue it's with favourite filters?
Please can you explain better the second problem? Sorry but I didn't understand.

[2018-12-20 21:03] keithturley commented on #47
I only have 1 issue and that’s the favourites

All the best
Keith Turley
07870598263

On 20 Dec 2018, at 20:58, Giorgio Boa <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @keithturley<https://github.com/keithturley> so your first issue it's with favourite filters?
Please can you explain better the second problem? Sorry but I didn't understand.

—
You are receiving this beca

[2018-12-20 21:33] gioboa commented on #47
The plugin exclude favorites filters with different project(from selected one) key/name inside jql.
If you favorite filter have 2 project name inside jql the plugin remove it. It's consistency constraint.

[2018-12-21 09:41] keithturley commented on #47
Still not working.

[cid:image001.png@01D49911.5CDC9240]

Filter from JIRA:

[cid:image002.png@01D49911.5CDC9240]

Best Regards

Keith Turley

e: keith@exserp.com<mailto:keith@exserp.com>
m: 07870598263
p: 0208 8193182
a: 152 City Road | London | EC1V 2NX

From: Giorgio Boa <notifications@github.com>
Reply-To: gioboa/jira-plugin <reply@reply.github.com>
Date: Thursday, 20 December 2018 at 21:33
To

[2018-12-21 10:17] gioboa commented on #47
Sorry, I can't see any image.

[2018-12-21 10:56] keithturley commented on #47
I called the API and got this back (only 1 project):

 "jql": "project = TROP AND resolution = Unresolved AND assignee in (currentUser()) ORDER BY created DESC, updated DESC",

[2018-12-21 11:15] gioboa commented on #47
ok perfect,
did you select TROP in the working project in the status bar?

[2018-12-21 11:16] keithturley commented on #47
Yes I did

Best Regards

Keith Turley

e: keith@exserp.com<mailto:keith@exserp.com>
m: 07870598263
p: 0208 8193182
a: 152 City Road | London | EC1V 2NX

From: Giorgio Boa <notifications@github.com>
Reply-To: gioboa/jira-plugin <reply@reply.github.com>
Date: Friday, 21 December 2018 at 11:15
To: gioboa/jira-plugin <jira-plugin@noreply.github.com>
Cc: Keith Turley <keith@exserp.com>, Mention <mentio

[2018-12-21 11:22] keithturley commented on #47
Select utilities is falling into this as I can see the prompt in the select dialog

placeHolder: `Select favourite filter`,

matchOnDescription: true

so we know its finding some, it’s just not displaying the pick list

Best Regards

Keith Turley

e: keith@exserp.com<mailto:keith@exserp.com>
m: 07870598263
p: 0208 8193182
a: 152 City Road | London | EC1V 2NX

From: Giorgio Boa <notifications@githu

[2018-12-21 11:33] gioboa commented on #47
Do you have any errors in the [output log](https://github.com/gioboa/jira-plugin/issues/34)?

[2018-12-21 11:34] keithturley commented on #47
No nothing

I have forked the repo, is there anyway that I can install my local copy of the extension and then debug it with my credentials?

Im new to ts and vscode so would need a little help getting the debug up and running

Best Regards

Keith Turley

e: keith@exserp.com<mailto:keith@exserp.com>
m: 07870598263
p: 0208 8193182
a: 152 City Road | London | EC1V 2NX

From: Giorgio Boa <notificatio

[2018-12-21 11:41] gioboa commented on #47
Yes, you can follow [CONTRIBUTING](https://github.com/gioboa/jira-plugin/blob/master/CONTRIBUTING.md) file.
If you find the problem you can create also a PR. 👍
If you press F5 From VsCode (first instance), another instance of VsCode will be launched.(second instance).
You can debug the second instance by the first one, breakpoint are available.
Thanks.

[2018-12-21 11:55] keithturley commented on #47
Ok, just opened up a dev copy, will see if I can fix it and then send you a PR

Best Regards

Keith Turley

e: keith@exserp.com<mailto:keith@exserp.com>
m: 07870598263
p: 0208 8193182
a: 152 City Road | London | EC1V 2NX

From: Giorgio Boa <notifications@github.com>
Reply-To: gioboa/jira-plugin <reply@reply.github.com>
Date: Friday, 21 December 2018 at 11:41
To: gioboa/jira-plugin <jira-plugin@nor

[2018-12-21 12:33] gioboa commented on #47
Thanks :+1:

[2018-12-22 12:50] dchennaraidu opened #49 "issue: Cannot fetch Jira Issues from different WorkingIssueStatus"
Extension not reading user set **Working Issue Status** [ _jira-plugin.workingIssueStatues_: '_pending_'}

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Settings**
2. Click on **User Settings**
3. Find Extensions -> Scroll down to 'Working Project Option'
4. Change to any valid Working Issue
5. Click on bottom bar Jira 'No working Issue bar'
6. By default it shows, 'In progress' not

[2018-12-22 12:57] gioboa commented on #49
Hi, did you try to restart VSCode?

[2018-12-22 12:57] dchennaraidu commented on #49
Code from **src/shared/utilities.ts** (38:43)

[code]

Why is filter applied there?

[2018-12-22 12:59] dchennaraidu commented on #49
Yes, I did

[2018-12-22 13:00] dchennaraidu commented on #49
When ran extension in Debug mode, I found that _state.status = []_

[2018-12-22 13:14] gioboa commented on #49
If you find state.status = [] you can use  jira-plugin.additionalStatuses to fill this array. In a normal workflow this array must be populate, if it's not you can use this particular setting.

[2018-12-22 13:38] dchennaraidu commented on #49
Yay it working now after setting **jira-plugin.additionalStatuses**, but I had to restart VSCode

[2018-12-22 13:50] #49 closed

[2019-01-03 17:54] alexandremsouza1 opened #51 "Jira Database issue: issue status displayed differ from jira jql status"
After the last update stopped working.

Version: 0.11.3.

![1](https://user-images.githubusercontent.com/38253342/50653180-d15f9700-0f6f-11e9-8a2f-fbfa4731c5b6.PNG)
![2](https://user-images.githubusercontent.com/38253342/50653183-d290c400-0f6f-11e9-8d77-f513c53ee3b6.PNG)
![3](https://user-images.githubusercontent.com/38253342/50653191-d45a8780-0f6f-11e9-94c7-efe386e7d892.gif)

[2019-01-03 19:55] gioboa commented on #51
Hi @alexandremsouza1,
do you remember which version you had before?
In the last update I touched only README file. :confused:

[2019-01-03 19:59] alexandremsouza1 commented on #51
It could have been coincidence.
But my old version was 0.10.4

[2019-01-03 20:18] gioboa commented on #51
When you filter by status the plugin execute this Jira jql:
`project = <your_current_working_project_key> AND status = '<selected_status>' ORDER BY status ASC, updated DESC`
If you insert `console.log('jql',jql)` at this [line](https://github.com/gioboa/jira-plugin/blob/440b8f744d466d88950d2f9aafe645ba8740842d/src/shared/select-utilities.ts#L145) you can see which jql will be used.

[2019-01-03 20:22] alexandremsouza1 commented on #51
Exact! But the status that is appearing in the filter is not the same as the current sprint.
That's weird.
And it also shows that those statuses are being automatically generated by the jira api

[2019-01-04 09:12] gioboa opened #52 "Authenticate using Google OAuth"
Follow these steps:

0. go to https://id.atlassian.com/manage/api-tokens and create a token
1. close all the VsCode instances
2. open one VsCode instance
3. setup the jira-plugin with:
3.a url: your base Atlassian url (https please!)
3.b username: your full email
3.c password: the token

[2019-01-04 09:12] #52 closed

[2019-01-04 09:37] imsergiobernal opened #53 "issue: 400 Components: Data was not an array"
**Describe the issue**
Trying to create an issue, I'm getting this error

Error: {"statusCode":400,"body":{"errorMessages":[],"errors":{"components":"data was not an array"}}...

If I dont set any component, works perfectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create an issue
2. Select a component
3. Send it

**Expected behavior**
Create an issue

[2019-01-04 09:38] imsergiobernal opened #54 "feat: Issue creation: link to epic"
It would be nice if you can link a new issue to an existing epic

[2019-01-04 09:39] imsergiobernal opened #55 "feat: Issue creation: link to sprint"
It would be nice if you can link a new issue to an existing current sprint

[2019-01-04 09:55] gioboa commented on #53
Hi @imsergiobernal,
mmm seems that the plugin don't set correctly the components field...
If you open this url in your browser
https://_<your_jira_baseurl>_/rest/api/2/issue/createmeta?expand=projects.issuetypes.fields
you can retrive all the fields for each project/type in json format.
(you must be logged in in the web application)
Now if you copy and paste the json here -> https://jsoneditoronli

[2019-01-04 10:32] alexandremsouza1 commented on #51
So I do not know what's happening

[2019-01-04 10:51] imsergiobernal commented on #53
Changed! I'm not able to post that :( I see a lot of possible sensible info there

[2019-01-04 10:52] gioboa commented on #51
Did you try to copy and paste the jql generated in Jira web application?it works?

[2019-01-04 10:57] gioboa commented on #53
Ok don't worry.
Could you post only components field?
You can tarnish all the sensitive data. 👍
For me it's important understand where I can retrieve all the available values for that field.

[2019-01-04 11:03] alexandremsouza1 commented on #51
This procedure I do not know how to execute rsrs.

[2019-01-04 11:17] gioboa commented on #51
With this procedure you can perform you custom search

![jira-search](https://user-images.githubusercontent.com/35845425/50685682-7df65300-101a-11e9-905a-5fa502990346.gif)

[2019-01-04 11:31] alexandremsouza1 commented on #51
![teste](https://user-images.githubusercontent.com/38253342/50686141-462fe100-1003-11e9-9e24-c12e2e4a56d1.gif)

few results.

Note that in sprint there is more status in the print sent earlier

[2019-01-04 12:17] gioboa commented on #51
If you insert a console.log(issues) [here](https://github.com/gioboa/jira-plugin/blob/440b8f744d466d88950d2f9aafe645ba8740842d/src/shared/select-utilities.ts#L148)
Do you see any data?

[2019-01-04 12:20] alexandremsouza1 commented on #51
'Unable to log remote console arguments Output omitted for a large object that exceeds the limits'

I do not know how you take it

[2019-01-04 12:29] trianta opened #56 "Can't log-in if JIRA authentication is done via Google"
Hi

We use JIRA and log-in through our Google credentials, so I don't have a password to enter in the relevant question (in VSCode). Any workarounds?

Thanks (-:

[2019-01-04 12:33] gioboa commented on #56
Hi, have a look at this issue.
https://github.com/gioboa/jira-plugin/issues/52
:+1:

[2019-01-04 12:37] alexandremsouza1 commented on #51
returned 50

[2019-01-04 12:44] trianta commented on #56
thank you so much :)

[2019-01-04 13:02] gioboa commented on #56
Now it works?

[2019-01-04 13:09] gioboa commented on #51
ok 👍
Now if you insert a `console.log('item',items)` (or `console.log('item',items. length)`) [here](https://github.com/gioboa/jira-plugin/blob/8363c690660bb8acc48a7037177b1f349a44ab7c/src/explorer/jira-explorer.ts#L44)
and `console.log('item',items)` (or `console.log('item',items. length)`) [here](https://github.com/gioboa/jira-plugin/blob/8363c690660bb8acc48a7037177b1f349a44ab7c/src/explorer/jir

[2019-01-04 13:16] alexandremsouza1 commented on #51
![capturar](https://user-images.githubusercontent.com/38253342/50689756-12a88300-1012-11e9-8302-432bc5749499.PNG)

First console =  array(22)
second console = item 55

[2019-01-04 13:19] alexandremsouza1 commented on #51
![2](https://user-images.githubusercontent.com/38253342/50689886-8ea2cb00-1012-11e9-9877-de0af3c8f121.PNG)

First console = array(22)[0]
second console = item 55 pos[10]

[2019-01-04 13:23] gioboa commented on #51
maybe the first console.log is not `console.log('items',items)` can you check please?
And even if there are 50 items, no item is present in explorer list?

[2019-01-04 13:32] gioboa commented on #51
And even if there are items no one is present in explorer list?

[2019-01-04 13:39] alexandremsouza1 commented on #51
No, in the explorer list the items are displayed normally.

Item categories are different. In the sprint filter the filters that are in the site appear but in the search filter by filter some non existent filters appear.

![6](https://user-images.githubusercontent.com/38253342/50690667-52bd3500-1015-11e9-8279-a85f5802a1cd.gif)

[2019-01-04 13:52] gioboa commented on #51
Maybe I don't understand the problem.
So you ask why in current sprit there are some issues for **Itens Pendentes** and when you filter directly for  **Itens Pendentes** no issue appear?

[2019-01-04 13:53] alexandremsouza1 commented on #51
Exact

[2019-01-04 13:55] gioboa commented on #51
Is the prev console.log('items', items.length) result for **Itens Pendentes** status?

[2019-01-04 14:00] alexandremsouza1 commented on #51
![10](https://user-images.githubusercontent.com/38253342/50691586-530aff80-1018-11e9-81ec-6798729cebca.PNG)

[2019-01-04 14:02] gioboa commented on #51
If you perform this search in Jira Web application
`project = TR AND status = 'Itens Pendentes' ORDER BY status ASC, updated DESC`
how many issues do you find?

[2019-01-04 14:07] alexandremsouza1 commented on #51
It did not return results, but I realized that if put in English('Itens Pendentes' to 'To do') it works

[2019-01-04 14:09] gioboa commented on #51
Also in Jira web application you have to translate 'Itens Pendentes' to 'To do'? 😮

[2019-01-04 14:19] imsergiobernal commented on #53
There you have @gioboa !

[code]

[2019-01-04 16:18] alexandremsouza1 commented on #51
In jira application web is English, in the VSCode is mixed (Portugues and English)

[2019-01-04 16:34] gioboa commented on #46
I decided to manage reporter field in the same way that assignee field. 👍

[2019-01-04 17:13] gioboa commented on #51
In your previous gif I see that if you try for 'Done' it works and find issues with status in portuguese. When you filter for some portuguese status Jira don't find anything. :+1:

[2019-01-04 17:30] alexandremsouza1 commented on #51
Exactly! My difficulty is knowing what the status in English represents the status in Portuguese,
for most cases are not literal translations

[2019-01-04 17:47] gioboa commented on #51
I will check if there is some relationship between English and Portuguese statuses, maybe some I'd or something else.

[2019-01-04 17:47] alexandremsouza1 commented on #51
Thank you very much for your attention.

[2019-01-04 19:33] gioboa commented on #55
The difficult for this feature is find the API that give you the _"list of sprints"_

[2019-01-04 19:33] gioboa commented on #54
The difficult for this feature is find the API that give you the "list of epics"

[2019-01-04 19:36] gioboa commented on #51
[here](https://github.com/gioboa/jira-plugin/issues/51#issuecomment-451441480)
in the first console you have all statuses
if you open every item, do you find any relationship field?

[2019-01-04 19:44] gioboa commented on #46
@LarBearrr
I published [v 0.11.4](https://github.com/gioboa/jira-plugin/releases/tag/0.11.4)
I hope solve your issue.
Please let me know.

[2019-01-04 19:46] gioboa commented on #53
@imsergiobernal
I published [v 0.11.4](https://github.com/gioboa/jira-plugin/releases/tag/0.11.4)
I hope solve your issue.
Please let me know.

[2019-01-04 20:06] alexandremsouza1 commented on #51
I lost where I put the console.log kkk

[2019-01-07 15:15] #54 closed

[2019-01-07 16:02] #53 closed

[2019-01-07 16:02] #46 closed

[2019-01-08 16:38] gioboa commented on #51
Hi @alexandremsouza1
have a look at [this Jira tool](https://confluence.atlassian.com/adminjiraserver073/using-the-database-integrity-checker-861253809.html?_ga=2.175211872.394122513.1546788740-667084326.1546600020) and [this solution](https://community.atlassian.com/t5/Jira-questions/Issue-workflow-status-different-in-query-search-to-status/qaq-p/154619)

[2019-01-08 17:12] alexandremsouza1 commented on #51
Okay, I do not have administrator permission, but I think it's interesting to leave this post for quest

[2019-01-08 18:43] gioboa commented on #55
@imsergiobernal
Could you send me `sprint` field JSON?
You did the same thing [here](https://github.com/gioboa/jira-plugin/issues/53#issuecomment-451400272)
Thanks :+1:

[2019-01-08 22:40] gioboa commented on #47
Fixed, available in next release.

[2019-01-08 22:40] #47 closed

[2019-01-13 22:55] vody commented on #21
Thank you @gioboa for this command. My minor comments are:
- My scenario was more about using Jira Key so can be used in commits or snippets. This cases would not require a summery, just key.
- I did try to use your new command with [Status Bar Extension](https://marketplace.visualstudio.com/items?itemName=anweber.statusbar-commands) to do a an action as I need it, but failed as it is allowed to b

[2019-01-14 09:24] gioboa commented on #21
Hi @vody ,
yes, the method has one parameter, if it's undefined return this error.
[Here](https://github.com/gioboa/jira-plugin/blob/618d3f7294c7fcd179338e5e23c398590765f86c/src/shared/utilities.ts#L74) the method.
If you can't pass params, you must create a new command for copy current working issue key.
Could be nice add a setting for set which data has to be copy.  (key/summary/key+summary)

[2019-01-14 10:21] stratosgear opened #62 "Use a subfolder of base Jira installation"
When setting up my `Base Url` as `https://issues.my.company/subfolder` the plugin tries to login at `https://issues.my.company/rest/api/2/status` producing an error of:

[code]

**Describe the solution you'd like**
It seems I cannot use `/subfolder` in the base url.   If I try the url of `https://issues.my.company/subfolder/rest/api/2/status` from the browser, it works fine and I get a JSON reply

[2019-01-15 00:30] dstrunk opened #64 "Receiving "Error: getaddrinfo ENOTFOUND" on upgrade to 0.12.0"
**Describe the issue**
On upgrade to 0.12.0, my JIRA integration has been broken; output says "Error: getaddrinfo ENOTFOUND". I've downgraded to 0.11.4 and can confirm that the same credentials are working for this version. I'm not able to share our Jira instance, but here is an example of the URL: `http://jira.example.com:8080`. Perhaps it's related to the refactoring in 96896cd, but that's just

[2019-01-15 06:48] gioboa commented on #64
Thanks for your feedback. 👍
I'm really sorry for the inconvenience.
I will release an hotfix soon.

[2019-01-15 06:50] TonyCMCC opened #65 "Working project isn't set."
when i configure jira-plugin，it tell me "Working project isn't set."
how can i deal it?

[2019-01-15 06:57] gioboa commented on #65
Hi in the status bar you have the possibility to setup the current working project. 👍
Have a look [here](https://github.com/gioboa/jira-plugin/blob/master/README.md#set-working-project)

[2019-01-15 07:10] TonyCMCC commented on #65
that's great! this plugin is very useful,thanks a lot.
please make the alert message more detail for easy to use

[2019-01-15 07:56] gioboa commented on #65
Thanks for your feedback! 👍 😄

[2019-01-15 07:56] #65 closed

[2019-01-15 08:39] #64 closed

[2019-01-15 08:40] gioboa commented on #62
The solution need more tests.

[2019-01-15 09:44] stratosgear commented on #62
Thanks! The new release now can login and get a list of projects.

But you need more. Clicking on an issue opens:

https://issues.my.company/browse/PROJ-123

instead of:

https://issues.my.company/SUBFOLDER/browse/PROJ-123

Should I create a new issue, or is this still part of this one?

[2019-01-15 10:11] gioboa commented on #62
Now are you using v 0.12.1?

[2019-01-15 10:42] gioboa commented on #62
ok, now I fix also the other issue (Clicking on an issue opens).

[2019-01-15 10:46] #62 closed

[2019-01-15 11:03] gioboa commented on #62
Please give me your feedback. Thanks.

[2019-01-15 11:08] stratosgear commented on #62
Just to give some immediate feedback, this latest issue, browsing to a Jira issue, has been fixed!

Let me play more with it.  Thanks for the quick turnround.

[2019-01-15 18:46] gioboa commented on #21
Would you like create a pull request for this feature? :+1: :question:

[2019-01-15 22:32] vody commented on #21
@gioboa, I would try (no promises as I am not good in ts)  👍 How to get a current work item reference?

[2019-01-15 22:40] gioboa commented on #21
Don't worry about TS, it's easy and much cleaner then vanilla js. Working Item reference is in [this](https://github.com/gioboa/jira-plugin/blob/a415e87bb329efc1e89ed1743428311bbde7f225/src/state/state.ts#L43) object. :+1:

[2019-01-16 08:52] gioboa opened #68 "feat: default filter"
**Describe the solution you'd like**
It can be nice have the possibility to define the default filter.
Nowadays when I change project the plugin execute `ALL_ISSUE` filter.
It's necessary introduce an additional setting.

[2019-01-16 09:20] gioboa opened #69 "feat: number of issue in the list"
**Describe the solution you'd like**
It can be cool have the possibility to define how many issue show in the list.

**Additional context**
If you define high numbers the research can be slow.

[2019-01-17 09:49] noodlensk opened #71 "Escape project name in JQL Queries"
We have a project in our Jira called "IN". When I'm trying to get a list of issues in this project - I'm getting this error:
`"Error in JQL Query: Expecting either a value, list or function but got 'IN'. You must surround 'IN' in quotation marks to use it as a value`

[2019-01-17 10:49] #69 closed

[2019-01-17 15:48] gioboa commented on #71
Fixed in [v 0.12.3](https://github.com/gioboa/jira-plugin/releases/tag/0.12.3)

[2019-01-17 15:48] #71 closed

[2019-01-21 20:30] SlawekJarosz commented on #45
@gioboa related to the above...  Our JIRA user list is well over 1000 so some users cannot be assigned to an issue.  Would it be possible to add a search function for a user in case the user name is outside of the 1000 preloaded ones?

[2019-01-21 20:38] gioboa commented on #45
Hi @SlawekJarosz ,
I've defined 1000 because it's a Jira limitation for a jql.
As you say, the alternative it's create some search function.
Have you got a search field in your Jira web application?

[2019-01-22 19:57] SlawekJarosz commented on #45
Hi @gioboa, thank you!

[2019-01-22 20:00] SlawekJarosz commented on #45
Hi, BTW, I tested it and it works great.  Thanks for the quick update!

[2019-01-22 21:15] gioboa commented on #45
Thanks for your feedback. It was a pleasure! :smile: :+1:

[2019-01-25 16:37] gioboa commented on #51
It's a Jira issue. I close it :+1: it remain in issues history anyway.

[2019-01-25 16:37] #51 closed

[2019-01-29 08:12] knicefire opened #77 "refactoring: Separate test environment from production"
While under development, running tests messes up with production configuration and replaces it with mocked data

Detect scenario when the code is ran under the test, to prevent messing up with "production" settings

[2019-01-29 08:16] knicefire opened #78 "refactoring: Configuration. Dotted variable separator"
VS code supports [dotted](https://code.visualstudio.com/api/references/vscode-api#workspace.getConfiguration) variable key splitting.

Using it instead of the column gives much more flexibility like scoped configuration and removes the need to manually handle keys

[2019-01-29 08:21] knicefire opened #79 "refactoring: folder/workspace based configuration instead of globalState"
Consider removing the need for globalState access, as well as setting target to global [here](https://github.com/gioboa/jira-plugin/blob/develop/src/services/configuration.service.ts#L50)

All projects are folder based or workspace based so let's be able to set different configuration for each, and this still doesn't prevent user to set global configuration

[2019-01-29 17:21] gioboa commented on #77
I use [VsCode insiders](https://code.visualstudio.com/insiders) so I didn't know about this problem.
It's an important issue to solve.

[2019-01-30 09:53] knicefire commented on #77
Can you reproduce it with regular VsCode?
Probably it's doesn't work just in my case

[2019-01-30 10:22] gioboa commented on #77
With normal VsCode I have exactly the problem that you described :+1:

[2019-01-30 17:03] #21 closed

[2019-01-30 17:04] gioboa commented on #21
Waiting for your PR.

[2019-01-31 10:25] it0243 opened #80 "Copy to clipboard does not work"
Issue Type: <b>Bug</b>

Copy to clipboard does not work and throws an error:
"Check logs in Jira Plugin Terminal output", but I cannot see anything in Output window.

I have tried it with 2 different ways: 1. from Jira Explorer using the jira issue context menu and 2. using a keyboard shortcut for the working issue.

I have the latest version of VS Code and the Jira plugin and my OS is Ubuntu 18.0

[2019-01-31 17:47] gioboa commented on #80
Hi @it0243 ,
did you look [here](https://github.com/gioboa/jira-plugin/issues/34)?
It's strange because copy command don't throw any error, for sure it's something different.

[2019-01-31 22:26] #68 closed, assigned to gioboa

[2019-02-03 19:35] #80 closed

[2019-02-04 08:01] it0243 commented on #80
Correct, after installing **xclip** and restarting VS Code the Copy feature now works. Thank you!

Do you think that this dependency could be added to the plugin documentation at the Copy to clipboard section?

[2019-02-04 11:00] gioboa commented on #80
it's an issue of copy-paste lib.
I think that this closed issue is enough. :+1:

[2019-02-04 14:41] gioboa commented on #77
The plugin will backup settings before execute tests and it will restore settings after tests. 👍

[2019-02-04 14:41] #77 closed

[2019-02-08 08:39] knicefire opened #82 "feat: git branch management"
Would be nice to have deeper integration with Git capabilities

a. Ability to see the list of branches for the ticket
b. Ability to create a branch for the ticket in the ticket menu. The source branch needs to be suggested
c. Suggest switching to the ticket branch in case of changing ticket/project

All of the above would give the developer more control over the ticket processing.

[2019-02-08 08:44] knicefire opened #83 "feat: jira notifications"
In Jira there is a new feature called notifications.

And since users are spending most of the time in VS Code, it would be nice if we could receive notifications right to it.

It'd give our users the competitive advantage over others because there is less need of switching context.

[2019-02-08 17:23] gioboa commented on #83
Which kind of notification would you like?

[2019-02-08 19:54] jcstorino opened #84 "Default Filter does not return data."
**Describe the issue**
Default filter does not return data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Jira Panel'
2. Click on 'Three points (more actions) / My Issues filtered by status / Pendent itens'
3. Wait refresh
4. Nothing is displayed

**Expected behavior**
The issues assigned to me and in the Pendent itens status.

**Screenshots**
![image](https://user-images.githubuser

[2019-02-08 19:58] gioboa commented on #84
Hi @jcstorino ,
In the error there is the resolution: `O valor 'Itens Pendentes' não existe para o campo 'status'.`
Please check the default jql :+1:

[2019-02-08 20:11] jcstorino commented on #84
My jira has custom status ... in Brazilian Portuguese.
![image](https://user-images.githubusercontent.com/19559870/52503436-b61a2400-2bcc-11e9-811c-8d69417ff763.png)

For JQL, i have...
"jira-plugin.defaultJQLSearch": "project = 'WORKING_PROJECT' AND sprint in  OpenSprints() AND assignee = currentuser() ORDER BY status ASC, updated DESC",

The filter "Default JQL Search" works fine !
![image](http

[2019-02-08 20:29] gioboa commented on #84
So, it was a problem in the JQL? Now it works fine?

[2019-02-08 20:36] jcstorino commented on #84
No !  ( sorry - by translator )

I'll try to be clearer.

Is JQL only for the default filter ?  ( Default JQL Searcher )

Can I change the JQL of the other queries? from 1 to 7 ? how do I do that ?

When I select the 7 filter, nothing is returned !

[2019-02-08 21:09] gioboa commented on #84
Default jql is customizable from settings. You can define favourites filters inside Jira and use them from the plugin option 8.

[2019-02-08 21:12] gioboa commented on #84
Option 7 execute this Jql
`project = 'working_project' AND status = 'selected_status' AND assignee in (currentUser()) ORDER BY status ASC, updated DESC`

[2019-02-09 16:17] gioboa commented on #84
Solved.

[2019-02-09 16:21] gioboa commented on #83
I searched for notification API. Did you mean [Activity stream](https://developer.atlassian.com/server/framework/atlassian-sdk/consuming-an-activity-streams-feed/)?

[2019-02-09 22:56] knicefire commented on #83
I don't know how it's called internally.
It looks like a a notification in the aside panel.
It get's you informed whenever any activities on your tasks happen. Or if someone mentions you somewhere in a comment.

![notification](https://user-images.githubusercontent.com/2177810/52527288-bf8bb500-2cce-11e9-9435-d074bf064d29.gif)

[2019-02-10 15:15] gioboa commented on #83
JIRA web application retrieve the date from `baseUrl/gateway/api/notification-log/api/2/notifications`. If I call this URL from the plugin return 401, from the web all works well.

[2019-02-10 20:46] knicefire commented on #83
That's because authentication is required.

I'll take a look but don't have spare time as of now :(

[2019-02-11 10:53] jcstorino commented on #84
Sorry, but I can not understand.

In my Jira the status is "Itens Pendentes" and in the plugin it does not find anything with this status!
![captura de tela 2019-02-11 as 08 49 48](https://user-images.githubusercontent.com/19559870/52558712-6610ac80-2dda-11e9-847a-2aa624e85402.png)

Where do I have to change to adjust the status name?
How can I see the real name of the status internally in Jira?

[2019-02-11 12:20] gioboa commented on #84
Maybe can be related to #51 ?

[2019-02-11 14:18] gioboa commented on #83
This [commit](https://github.com/gioboa/jira-plugin/commit/81e2f94c15563613588644e8c4b4cf8d1b21a70b) add notifications API. 🎉
The code create a new cloud session and call notifications cloud API. 👍

[2019-02-11 15:02] knicefire commented on #83
This is awesome!

[2019-02-12 11:13] richard-riverford opened #85 "Option to disable time tracking"
We don't use the time tracking feature of Jira, so having a tracker running in VS Code is pointless, and being prompted to update a ticket with time tracking information is annoying.

It would be great to add another time tracking option - `never` - to complement `always`, `hybrid` and `vsCodeFocus`. This would turn-off time tracking completely and not prompt the user to update a Jira ticket with

[2019-02-12 11:30] gioboa commented on #85
Hi @richard-riverford ,
your issue have sense.
initially `Enable Working Issue` setting was introduce for disable time tracking.
Nowadays with "Working Issue functionality" there are more features.

[2019-02-12 11:43] JohannesMattsson91 commented on #85
I would really like that option as well, the time track feature only made me disable the entire "working issue" feature to disable the prompt.

[2019-02-12 21:06] gioboa commented on #85
I released [v 0.13.1](https://github.com/gioboa/jira-plugin/releases/tag/0.13.1).
This version add `never` option in time tracking setting.
Please give me you feedback. Thanks. 👍

[2019-02-13 08:49] richard-riverford commented on #85
Wow, fast work! Thanks for this; it looks perfect! 👍

[2019-02-13 09:00] JohannesMattsson91 commented on #85
Works like a charm when switching branches between existing branches and new branches.

[2019-02-13 09:02] #85 closed

[2019-02-13 19:26] caleb15 opened #86 "create new issue does not work"
**Describe the issue**
I can't create a new issue. When I click on insert issue the menu just flashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to jira extension
2. Click on +
3. fill out required fields
4. Click Insert issue

**Expected behavior**
Some indication that issue is inserted

**Screenshots**
https://puu.sh/CLHsW/e182a2febc.png

How new issue screen looks like in chrome

[2019-02-13 19:29] caleb15 commented on #86
oh and no errors are logged to the console.

[2019-02-13 19:49] gioboa commented on #86
Hi @caleb15 ,
You got the problem, department field it's required but not present in list.
I need to understand how is department field schema. :thinking:
#34 you must find something, there is a log in the code for this situation.

[2019-02-13 19:54] caleb15 commented on #86
you're right.  Here is the log:

[code]

[2019-02-13 20:11] gioboa commented on #86
Thanks, with this info I can fix the "insert issue algorithm".
Soon I will release a new version with this hotfix. :+1:

[2019-02-14 01:41] gioboa commented on #86
I released [v 0.13.2[(https://github.com/gioboa/jira-plugin/releases/tag/0.13.2) this version will solve you issue.
Please test it and give me you feedback. Thanks.

[2019-02-14 06:40] gioboa commented on #55
I close it for the moment.

[2019-02-14 06:40] #55 closed

[2019-02-15 22:19] caleb15 commented on #86
It works :D

Thanks!

[2019-02-15 22:19] #86 closed

[2019-02-15 22:35] gioboa commented on #83
This feature is in develop branch ready for the next major release. :+1:

[2019-02-15 22:35] #83 closed

[2019-02-15 22:35] caleb15 commented on #55
This would be a nice feature to add.

Here's my sprint field JSON:

[code]

[2019-02-15 22:42] gioboa commented on #55
Thanks @caleb15 ,
At the moment I'm working for manage all the fields.
I'm studying Jira logic for every field, it's a hard work.

[2019-02-16 19:30] gioboa commented on #55
@caleb15 do you have sprint field in the issue creation screen?
In my Jira environment this particular field is locked.

[2019-02-17 00:42] caleb15 commented on #55
@gioboa yep

[2019-02-17 09:17] gioboa commented on #55
With this API I can retrieve all the sprints options.
https://xxx/rest/greenhopper/1.0/sprint/picker
In this field you have only the sprints relative to the project? There are some filters like only open sprints?

[2019-02-18 21:51] caleb15 commented on #55
https://pastebin.com/4dxG8YQM

The sprint input box in jira when you expand it has a "Suggestions" and a "All sprints" category

[2019-02-19 14:26] gioboa commented on #55
Available in [v 0.14.0](https://github.com/gioboa/jira-plugin/releases/tag/0.14.0)

[2019-02-19 16:53] caleb15 commented on #55
it works. Thanks! :)

[2019-02-20 19:48] gioboa commented on #82
In the next days I will implement the b feature. I've created a branch for it.

[2019-02-21 05:26] knicefire commented on #82
Cool. Looking forward to it

[2019-02-21 08:09] probfacile opened #90 "issue: unable to verify the first certificate"
**Describe the issue**
Error: Error: unable to verify the first certificate and cannot figure out what is the problem. Looks like there is a problem with self hosted jira, self signed certificate but I am not an expert of this

**To Reproduce**
I think, self host jira, self sign certificate and try just witzard configuration and error will pop out

**Expected behavior**
Should work

**Desktop (ple

[2019-02-21 08:50] gioboa commented on #90
Hi @probfacile ,
have a look at [this issue](https://github.com/gioboa/jira-plugin/issues/1) maybe are related.
I think you can solve the problem by using [this extension](https://marketplace.visualstudio.com/items?itemName=ukoloff.win-ca)

[2019-02-21 09:20] probfacile commented on #90
I am on Linux ubuntu 18.04 not windows

[2019-02-21 09:44] gioboa commented on #90
Sorry you are right.
Please have a look at [VsCode docs](https://code.visualstudio.com/docs/setup/network) maybe this settings can solve your issue.

[2019-02-21 16:36] gioboa commented on #82
_Feature b_

I've done the implementation. What do you think?
I used VsCode git commands and unfortunately there isn't the possibility to set the branch name by code.

![ezgif-5-71acef9a3208](https://user-images.githubusercontent.com/35845425/53185326-0d71b880-35ff-11e9-9108-5bbff90cf46f.gif)

[2019-02-21 17:08] knicefire commented on #82
Looks cool!

Can you pre-fill it? So the user doesn't have to and is able to change it
if needs it

On Thu, Feb 21, 2019, 18:36 Giorgio Boa <notifications@github.com> wrote:

[2019-02-21 17:12] gioboa commented on #82
Unfortunately in the VsCode command there isn't the possibility to pre-fill it. I will check better...

[2019-02-22 11:14] probfacile commented on #90
disabled it and still same problem

[2019-02-22 12:38] gioboa commented on #90
Unfortunately this issue isn't under my control.
It's a VsCode error.
Try to follow the [docs](https://code.visualstudio.com/docs/setup/network) to solve the issue. :disappointed:

[2019-02-22 13:17] probfacile commented on #90
neither mine, I don't find any help anywhere.
these docs are for experts, i don't find anything I can follow there.
if anyone has a clue please link/help here... otherwise I just give up

[2019-02-22 14:59] gioboa commented on #90
The problem occur in the plugin installation?
Did you fill all the proxy settings inside VsCode?

https://cloud.githubusercontent.com/assets/14846203/12105548/cc12701c-b390-11e5-9928-58eeed452b9c.PNG

[2019-02-22 15:21] probfacile commented on #90
I don't use a proxy to connect.
The https domain has self certificate, and it doesn't verify it

[2019-02-22 16:27] gioboa commented on #90
Please execute this test.

from VSCode docs:
`you can tell VS Code to ignore all certificate errors using the --ignore-certificate-errors command line flag. Warning: This is dangerous and not recommended, since it opens the door to security issues.`

so in the terminal run: `code . --ignore-certificate-errors`

if it works, we will find a way to install the certificate in Ubuntu. 👍

[2019-02-25 07:38] probfacile commented on #90
For just a test i started with this unsafe options and still Error: `Error: unable to verify the first certificate`

[2019-02-25 08:22] gioboa commented on #90
Thanks for your test. I will check how solve this problem. 😞

[2019-02-25 16:35] gioboa commented on #90
@probfacile  in [v 0.14.1](https://github.com/gioboa/jira-plugin/releases/tag/0.14.1) I've added the possibility to specify certificate inside every request.
[Here](https://github.com/gioboa/jira-plugin/blob/7e373950218bf9885ee567934761225a3fbd845b/package.json#L129) the new settings.
Please test it and give me a feedback. 👍

[2019-02-25 22:47] gioboa commented on #82
Feature a and c are really similar, I've done one command that call native git checkout.
This command allow you to create a new branch or list you all available branch to checkout.
No pre-fill value can be passed. 😢

[2019-02-26 05:51] knicefire commented on #82
No worries.
Having an ability to create a new branch is already a success

On Tue, Feb 26, 2019, 00:47 Giorgio Boa <notifications@github.com> wrote:

[2019-02-26 07:37] probfacile commented on #90
ok I will try even if I am unsure how to download the domain certificate from chrome

[2019-02-26 08:02] gioboa commented on #90
Maybe [this post](https://superuser.com/questions/1291416/download-pem-via-browser-only) can help you.

[2019-02-26 08:06] probfacile commented on #90
Something weird is happening then because i did exactly all described and still `Error: Error: unable to verify the first certificate`

[2019-02-26 08:21] gioboa commented on #90
So you download the cert in your machine, then you modify the new configuration with the cert full path, correct?
From VsCode you can open a dev tool like chrome 😄 this can be really useful.

![screenshot 2019-02-26 at 09 19 28](https://user-images.githubusercontent.com/35845425/53397537-a3169a80-39a7-11e9-8780-00a8c0d71d5c.png)

[2019-02-26 08:41] probfacile commented on #90
i've downloaded certificate in multiple ways, tested without conversion nothing, then tested with conversion:

`openssl x509 -in _my_certificate.com.crt -out _my_certificate.com.pem -outform PEM`
and didn't work either.

I also tryed developer tools many times but nothing more that output is there:

[code]

[2019-02-26 08:52] gioboa commented on #90
mmm you can see at list the task list? or you can't see anything?

[2019-02-26 10:04] gioboa commented on #20
With [this commit](https://github.com/gioboa/jira-plugin/commit/2738e3e41055f246aee2d7e7e1b81db3b3dcb8c3) I've done the feature.
Available in the next minor release. 👍

[2019-02-26 16:36] gioboa commented on #90
Could try to replace the code at [this line](https://github.com/gioboa/jira-plugin/blob/a4a61cf4f05586991df33f9beea15961ebb33264/src/shared/jira-instance-patch.ts#L71) ?
like this:
`options = { ...options, agentOptions: { ...certificate } };`
now the certificate settings is in the root, try to wrap it inside agentOptions.
I get this info [here](https://github.com/request/request#using-optionsagent

[2019-02-26 16:43] gioboa commented on #84
@jcstorino did you find a solution for this issue?

[2019-02-26 17:02] jcstorino commented on #84
No, I have not found a solution yet. Portuguese language status does not match to the filters in this extension.

![captura de tela 2019-02-26 as 13 57 23](https://user-images.githubusercontent.com/19559870/53431115-a5401f80-39ce-11e9-96bc-dee01282c337.png)

![captura de tela 2019-02-26 as 13 59 20](https://user-images.githubusercontent.com/19559870/53431196-cbfe5600-39ce-11e9-86b0-f8e9a2be32d1.pn

[2019-02-26 17:56] gioboa commented on #84
If you go into the 1623 issue, which status do you have? Could you post here also the status list page? I think it's an amministrator page...

[2019-02-26 23:15] gioboa commented on #84
Which status have SD88M-162?
I notice in my environment that in every Kannan coloumn can contain more than one status. Here the colounm name is 'items pendientes' but which status contains?

[2019-02-27 07:45] probfacile commented on #90
I tried your line, also restarted and nothing better.
I can say the certificate is a RapidSSL one.

[2019-02-27 07:57] gioboa commented on #90
Thanks for your test. 👍
I will have a look at RapidSSL to understand something.
Anyway, if you have time and possibility, you can debug the extension (first method of the previous post) and try to understand what's wrong.
The plugin need to pass the certificate in the request, this is the problem.

[2019-02-27 08:10] probfacile commented on #90
![image](https://user-images.githubusercontent.com/34299822/53475129-79c14180-3a6f-11e9-8e89-ac0bcb95a108.png)
I console.logged options after your line change and looks correct

[2019-02-27 08:36] gioboa commented on #90
👍 The problem is how is the correct way to pass RapidSSL to the request.
In the error we have `first certificate`, maybe you have to pass more than one certificate to the server.
If you open Jira web application from chrome, how many certificates do you see in dev tools - tab security?

[2019-02-27 08:52] probfacile commented on #90
i see it's  only 1 and is a *.domain.com because it's jira.domain.com

[2019-02-27 09:09] gioboa commented on #90
I checked my company self hosted Jira web application and I have GoDaddy certificate.
<img width="472" alt="screenshot 2019-02-27 at 10 00 51" src="https://user-images.githubusercontent.com/35845425/53478334-d7a55780-3a76-11e9-864c-6ad8d5c6b424.png">
I have also a Atlassian cloud Jira:
<img width="472" alt="screenshot 2019-02-27 at 10 00 51" src="https://user-images.githubusercontent.com/35845425/

[2019-02-27 09:29] gioboa commented on #90
Only for test purpose...
Did you try with a Windows machine?

[2019-02-27 09:31] probfacile commented on #90
I only have ubuntu 18.04 machine for test. chrome says the same... it's valid and secure.
somehow jira plugin is not working... I might try another jira plugin to see if it connects.

[2019-02-27 09:55] probfacile commented on #90
well another plugin works perfectly (doesn't do the same as your):
![image](https://user-images.githubusercontent.com/34299822/53481764-21de0700-3a7e-11e9-9cea-2dff5e790fb1.png)

[2019-02-27 10:02] gioboa commented on #90
I will investigate, can you give me the name of this plugin?

[2019-02-27 10:08] probfacile commented on #90
jira issues

[2019-02-27 10:23] gioboa commented on #90
It's really funny, the author clone my repo and create his how plugin, but the code was really similar to mine. Now I check what he done. 😄

[2019-02-27 11:07] gioboa commented on #90
Please modify
`~/.vscode/extensions/gioboa.jira-plugin-0.14.1/out/src/http/jira-instance-patch.js`
and **before** line 71 `return jiraInstance. ... ... ...` add `options.strictSSL = false;`. Thanks. 👍

[2019-02-27 11:11] probfacile commented on #90
Tried and didn't change anything

[2019-02-27 11:13] gioboa commented on #90
Did you restart VsCode? have you got a console.log ?

[2019-02-27 11:14] probfacile commented on #90
![image](https://user-images.githubusercontent.com/34299822/53486506-307deb80-3a89-11e9-935f-e1f628439fc2.png)
yes

[2019-02-27 11:17] gioboa commented on #90
Please delete agentOption property before return `delete options.agentOptions` thanks.

[2019-02-27 11:20] probfacile commented on #90
I already tried to comment the object assign for options... is the same i think... and didn't work
![image](https://user-images.githubusercontent.com/34299822/53486822-1c86b980-3a8a-11e9-9058-0f998d074193.png)

[2019-02-27 11:24] probfacile commented on #90
hmmm wait... i just did config credential again and started working... wait  i test around (there is no need for agent certificate)

[2019-02-27 11:29] probfacile commented on #90
i confirm the row `options.strictSSL = false;` does the difference (without certificate)

[2019-02-27 11:33] gioboa commented on #90
So the final code is `options.strictSSL = false;` without agentOptions, settings and bla bla bla?
Now could you change your [review](https://marketplace.visualstudio.com/items?itemName=gioboa.jira-plugin#review-details) please?
Thanks. 👍

[2019-02-27 11:33] probfacile commented on #90
Yes i will change asap... just need time to check around.

[2019-02-27 11:39] gioboa commented on #90
Yes, in the next release I will replace the agentOptions setting with a Boolean for enable/disable strictSSL :+1:

[2019-02-27 12:34] probfacile opened #91 "Is there a way to filter the projects with a custom filter?"
**Is your feature request related to a problem? Please describe.**
When I open Project list to set working project, I would like to have a custom filter to see only my team projects.

**Describe the solution you'd like**
Maybe also a JQL search for this, where is put `project IN ('ABC', 'DEF', 'QWE', 'ASD') ORDER BY updated ASC

**Describe alternatives you've considered**
not sure

**Additional co

[2019-02-27 13:39] gioboa commented on #90
With this [commit](https://github.com/gioboa/jira-plugin/commit/5033daf8b3df6ac635eec0cc9b5befe30b429bbb) I added strictSSL setting.
Ready for the next release.

[2019-02-27 13:46] gioboa commented on #91
The plugin use this [Jira API](https://developer.atlassian.com/cloud/jira/platform/rest/v3/?utm_source=%2Fcloud%2Fjira%2Fplatform%2Frest%2F&utm_medium=302#api-api-3-project-get) maybe there is another way to get all the project.
I also notice that this API is marked as deprecated.

[2019-02-27 14:06] #90 closed

[2019-02-27 15:33] probfacile commented on #91
What about filtering the result object with client configured array in javascript? something like
myprojects = ['ABC', 'CDE'];
`results.filter(i => myprojects.includes(i.key]);`

[2019-02-27 17:28] gioboa commented on #91
Yep, I thought an implementation like this. :+1:
This setting can be useful for some cases.

[2019-02-27 17:40] gioboa commented on #91
I will include it in the next release.

[2019-02-27 17:44] gioboa commented on #79
Hi @knicefire,
I did a little test, workspace settings "win" against the global VsCode settings so for every workspace you can have different configuration.
Only password is stored in hidden global state and the key so the Jira baseurl + username so you can't have workspace with same baseurl and different user. :cry:

[2019-02-27 21:56] #91 closed

[2019-02-27 22:00] #82 closed

[2019-02-27 22:12] gioboa opened #92 "feat: change issues group by field"
**Describe the solution you'd like**
I'd like have the ability to change issues grouping field.
It can be really cool have the possibility to use custom field.

**Describe alternatives you've considered**
Need to remember the last used _group by_ field.
Jql ORDER BY must be modify to have correctly sorted issues.

[2019-02-28 07:13] knicefire commented on #79
Thanks.

I think this is fine, a long as we have separate workspace configuration.

On Wed, Feb 27, 2019, 19:44 Giorgio Boa <notifications@github.com> wrote:

[2019-02-28 07:51] probfacile commented on #91
Thank you!

[2019-02-28 14:56] gioboa commented on #92
Done. At the moment not manage custom field.

[2019-02-28 14:56] #92 closed

[2019-03-01 10:48] probfacile commented on #91
ah well i really hoped it would be projects to show... because i have 40 projects growing wich i would like to see only 5 of them i work on :cry:

[2019-03-01 11:19] gioboa commented on #91
With this url `https://xxx.domain.com/rest/api/2/project` you can get all projects in json format.
From json you can extract all the project key and copy them into the plugin setting.
I did hideProjects and not showProjects because if you create a new project, you have to remember to add the key into this setting and also showProjects is not backward compatible. Sorry.

[2019-03-01 11:21] mheden opened #93 "issue: done subtasks ends up under "To do" in explorer view"
**Describe the issue**
It seems like Subtasks that are done are still shown under "To do" in the explorer view if the main task is not done.

**To Reproduce**
1) Create a task
2) Add sub tasks
3) Close sub tasks
4) The sub tasks are still shown under "To do"

**Expected behavior**
The sub tasks are shown under done. I understand that it is a bit tricky where to put them since the main task is not

[2019-03-01 11:36] probfacile commented on #91
ok i will try this solution thx

[2019-03-01 11:40] gioboa commented on #93
Hi @mheden , you are right.
The plugin consider task status and don't check subtask one.
If subtask have different status, I can remove it "under" the parent task and insert into a correct position. In the subtask label I can refer to the parent task.
What do you think?
I will solve the issue. Thanks. 👍

[2019-03-01 13:10] probfacile opened #94 "issue: Copy Jira Key+Summary not working on ubuntu 18.04"
**Describe the issue**
Copy Jira Key+Summary not working on ubuntu 18.04

**To Reproduce**
Copy Jira Key+Summary and paste it anywhere, the clipboard is empty

1. Go to 'Jira explorer'
2. Right Click on 'issue'
3. Copy Jira Key+Summary
4. nothing is in clipboard

**Expected behavior**
should put something in clipboard

**Desktop (please complete the following information):**

Versione: 1.31.1
Comm

[2019-03-01 13:12] mheden commented on #93
That would be perfect! Thanks!

[2019-03-01 14:21] gioboa commented on #94
Please, have a look at this closed issue #80

[2019-03-01 14:24] gioboa commented on #93
I implemented the solution and look like this:

<img width="407" alt="screenshot 2019-03-01 at 15 20 02" src="https://user-images.githubusercontent.com/35845425/53643983-c3f41f80-3c35-11e9-9949-3ca55b0c5023.png">

I also added a setting for chose flat list (old behavior) or grouped list.

[2019-03-01 15:04] JensEger opened #95 "Authentication fails with basic Auth"
We use a local Jira Instance with connected Active Directory as Jira User Directory. Additionally we use EasySSO Plugin for logging into Jira. When I configure this VSCode Plugin with my Windows Credentials i receive an Error (see attached file).
Can you enable Windows Authentication? It would be really great 👍

[2019-03-01 15:19] #93 closed

[2019-03-01 16:01] gioboa commented on #93
Version [0.15.1](https://github.com/gioboa/jira-plugin/releases/tag/0.15.1) solved this issue.

[2019-03-01 16:09] gioboa commented on #95
Hi @JensEger ,
I will check the txt. 👍

[2019-03-01 16:15] probfacile commented on #94
but vscode button to copy desktop informations just works without anything installed

[2019-03-01 16:47] gioboa commented on #94
Which button are you looking at?
Can you give me a screen?
Under the hood I use a lib to copy to clipboard. This lib needs xclip on Ubuntu.

[2019-03-03 23:04] #94 closed

[2019-03-04 07:40] probfacile commented on #94
In fact i think you're doing it wrong... must check vscode source to check how do they copy without addons.. you go in vscode help > informations.. click copy button and it works

[2019-03-04 07:47] gioboa commented on #94
Thanks for your feedback. 👍

[2019-03-04 08:42] gioboa commented on #95
@JensEger did you solve your issue?

[2019-03-04 09:54] JensEger commented on #95
@gioboa Thank you for your lightning-fast response 👍 The hint to #26 helped alot. Since we log in with Windows auth, we dont have to enter our credentials manually. I logged out and logged in manually and I got the captcha! I solved it and now the Plugin works.
Again: thanks a lot!

[2019-03-04 10:51] #95 closed

[2019-03-05 09:35] probfacile commented on #91
if you can curl it you get something like:

`curl https://xxx.domain.com/rest/api/2/project | jq .[].key -cMr | egrep -v 'KEY1|KEY2|KEY3' | tr '\n' ', '  | sed 's/,$/\n/'`

[2019-03-06 14:50] therblack opened #96 "authentication issues"
Hi

we run Jira internally.  When I enter the URL and credentials (the same ones I use when logging in a browser) I just get an error 'Error: Check logs in Jira Plugin terminal output.'

When I checked the debug console I see lines like this:

Error: Error: unable to get local issuer certificate

Any suggestions as to what I should do?

thanks

[2019-03-06 15:17] gioboa commented on #96
Hi, try to set jira-plugin strictSSL setting to false, restart VsCode and try again.

[2019-03-06 17:45] gioboa commented on #96
Did you solve the issue?

[2019-03-06 21:33] therblack commented on #96
It did!  Thanks for your quick response, I'm looking forward to using this

[2019-03-06 21:46] #96 closed

[2019-03-07 10:15] probfacile opened #97 "issue: When you have multiple code windows open, it's buggy"
**Describe the issue**
Changing project in one windows doesn't change in other window, but it tryes to list "working issue" from last project changed

**To Reproduce**
Steps to reproduce the behavior:

1. Open folder in one vscode window
2. To be sure go to file -> open recent and shift+click another project folder
3. Select 1 project in first window
4. Select 1 project in second window
5. Select

[2019-03-07 13:40] gioboa commented on #97
Hi @probfacile ,
this append because working project is read from configuration before read working issues.
The solution is read the project at start up once and change only if window event trigger it.
Nice catch. 👍

[2019-03-07 14:59] probfacile commented on #97
Also if you then change project on other window after selecting a working issue, you will have a new project and working from the other window project

[2019-03-07 17:01] #97 closed

[2019-03-08 22:22] gioboa commented on #94
Solved in [v 0.15.2](https://github.com/gioboa/jira-plugin/releases/tag/0.15.2)

[2019-03-08 22:22] gioboa commented on #97
Solved in [v 0.15.2](https://github.com/gioboa/jira-plugin/releases/tag/0.15.2)

[2019-03-09 05:50] gioboa commented on #84
No update in last 7 days. Closed.

[2019-03-09 05:50] #84 closed

[2019-03-09 05:54] gioboa commented on #79
I close it for the moment. Anyway workspace config "win" against user config.

[2019-03-09 05:54] #79 closed

[2019-03-09 05:56] gioboa commented on #78
Closed. It can be nice.

[2019-03-09 05:56] #78 closed

[2019-03-11 14:54] ReasonableDeveloper commented on #20
Hey, I just found this task on my todo list. I'm sorry that I didn't send a PR as promised.
I probably forgot to upload my settings and extensions via the settings-sync plugin and as a result haven't had the plugin installed since I changed my working station a few months ago. :scream:

Needless to say, I'm installing the extension anew. Thank you for fixing my issue! :heart:

[2019-03-12 10:25] probfacile opened #98 "issue: Still something weird with multiple code windows"
**Describe the issue**
It's really unclear what happens: If i open a new window it will open with project selected from previous window, and also the working issue timer if started. Same happens when closing a window stick on a project, select project in another, reopening that window will select project from other window.
Also when you switch back project where you had a working issue, the timer

[2019-03-12 10:52] gioboa commented on #98
Hi,
maybe start with no project and no working issue can be the solution. anyway you can define manually custom workspace settings, if you want. Thanks.

[2019-03-12 12:13] mithrend opened #99 "issue: Time not being tracked on Jira"
When I stop working on an issue, time is not tracked.

Steps to reproduce the behavior:

1. Go to working issue at the bottom of the editor
2. Change it from working issue (the time is being tracked correctly in the gui) to No working issue

**Expected behavior**
A vscode notification asking me if I want to log the time to Jira with an option to add a comment.

**Actual behaviour**
Nothing get's l

[2019-03-12 12:23] gioboa commented on #99
Hi, did you press Yes or Yes with comment? Did you have any log in the output?

[2019-03-12 12:52] mithrend commented on #99
The message notification does not show at all. This means I cannot press anything. There is no log in the output either.

[2019-03-12 13:35] gioboa commented on #99
ok, I try to reproduce the issue and verify. Thanks.

[2019-03-13 07:51] probfacile commented on #99
Same here, the message to track time has gone away... tried reinstalling, tried deleting folder and reinstalling... nothing at all

[2019-03-13 08:42] mithrend commented on #99
I have also tried re-installing the extention and have tried tracking time mode on "hybrid" and "always".
In both cases worklog minimum tracking time was set to 0

[2019-03-13 08:51] lordang opened #100 "ability to log work on an issue that is not assigned to me"
**Is your feature request related to a problem? Please describe.**
We don't change assignee when transition to 'in review" status occur.
So our code reviewer just log their review work on an issue assigned to developer.
And I prefer reviewing on vscode using something like gitlens plugin.

Now when I click on "Set working issue" button, it seems working issue list only shows issues assigned to me.

[2019-03-13 08:54] #99 closed

[2019-03-13 09:17] gioboa commented on #99
[v 0.15.3](https://github.com/gioboa/jira-plugin/releases/tag/0.15.3) release solved the issue.

[2019-03-13 09:23] gioboa commented on #100
Hi @lordang ,
the plugin perform this JQL
`project = '${project}' AND status in (${statuses}) AND assignee in (currentUser()) ORDER BY status ASC, updated DESC`
so as you suggest we can add additional configuration to customize assignee values.
Thanks for your feedback. 👍

[2019-03-13 10:21] mithrend commented on #99
Amazing! thank you.

[2019-03-13 12:23] gioboa commented on #98
@probfacile did you try the solution?

[2019-03-13 12:44] probfacile commented on #98
I think the problem is saving the working project into settings...
maybe there could be a pair as this:
[code]

[2019-03-13 13:32] probfacile commented on #98
Looks like your solution is correct way...
You should not set working project into main settings automatically then.
I might want to setup them in my projects or leave it blank to start as no project selected

[2019-03-13 13:35] gioboa commented on #98
Ok, I will check if there is an VsCode API for read/write from workspace `.vscode/settings.json`.
If there is, I will move project and workingProject settings into it.

[2019-03-13 13:41] probfacile commented on #98
oops :) i closed in error

[2019-03-13 13:41] devdaddy opened #101 "feat: Ability to Add Internal Comment"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
When you right click on an issue in the explorer, it would be nice to be able to add internal comments as well. Maybe have submenu of the "Add a Comment" for Internal or Share with Customer.

**Describe alternatives you've considered**
Alternative could be a user setting that can be toggled

[2019-03-13 13:54] gioboa commented on #101
Hi @devdaddy ,
is internal comments a Jira feature?
If yes, how I can create a new internal comment?

[2019-03-13 14:23] devdaddy commented on #101
Yes it is an a Jira feature.

The JIRA Cloud REST API Documentation specifies the following schema for setting properties on comments when creating or updating a comment on an incident

https://developer.atlassian.com/cloud/jira/platform/rest/v3/#api-rest-api-3-issue-issueIdOrKey-comment-post

[code]

To make a comment on an issue internal (meaning only service desk agents can see the comment) you

[2019-03-13 14:39] gioboa commented on #101
Thanks for this clarification.
It can be a good feature to implement.
I will plan it in the next feature release. 👍

[2019-03-13 20:33] gioboa opened #102 "feat: refresh interval"
**Describe the solution you'd like**
Create a setting for refresh explorer every `x` minutes. (setting to 0 disables auto-refresh)

[2019-03-14 14:24] #100 closed

[2019-03-14 14:34] #98 closed

[2019-03-15 14:23] gioboa commented on #101
I'm testing the feature and I marked the comment as internal by API, but in the web application seem to be equal to normal comment. Am I missing something?

[2019-03-16 20:03] devdaddy commented on #101
are you able to share a screenshot of what the two different types look like?  This is what an internal comment looks like in our web app.

<img width="827" alt="Screen Shot 2019-03-16 at 2 55 03 PM" src="https://user-images.githubusercontent.com/27773772/54480914-7adac880-47fc-11e9-8573-e6a4a4da3760.png">

[2019-03-16 22:49] gioboa commented on #101
I will check in my environment. Thanks. :+1:

[2019-03-17 18:46] Psidium opened #103 "feat: Hide seconds on worked time clock"
Great extension! This extension removes a big headache in our team: time tracking.

**Is your feature request related to a problem? Please describe.**
I don't like that the time tracking shows the seconds worked on the issue. Feels like a time 💣.

**Describe the solution you'd like**
Ability to hide the seconds and the minutes worked on an issue on the clock on the lower left bar, configured via t

[2019-03-17 19:37] gioboa commented on #103
I will implement it in the next release. :+1:

[2019-03-18 17:45] gioboa commented on #101
I checked in my environment, but I can't find where is the flag internal in a new comment.

[2019-03-18 18:17] devdaddy commented on #101
When you are entering a new comment on an issue, if you have the Jira Service Desk Agent permissions, you will see a comment box like below, allowing you to comment internally or share with the customer.

![Screen Shot 2019-03-18 at 1 11 12 PM](https://user-images.githubusercontent.com/27773772/54553090-72f76180-497f-11e9-96f7-9f1f2ee9f2ea.png)

[2019-03-18 19:31] gioboa commented on #101
Ok. Jira Service Desk Agent permissions do the "magic". :+1: do you think it's better new menu item  or parse the message to find if begin with #internal?

[2019-03-18 22:59] devdaddy commented on #101
I think a new menu item would make things user friendly.

[2019-03-19 10:58] gioboa commented on #101
@devdaddy
I cannot reproduce all the settings. 😢
Could you try this version for me please?
[jira-plugin-0.15.4-internal-comment.vsix.zip](https://github.com/gioboa/jira-plugin/files/2982917/jira-plugin-0.15.4-internal-comment.vsix.zip)
In this version you have the additional menu item.
Thanks. 👍

[2019-03-19 11:08] devdaddy commented on #101
Beautiful.  Works as expected.  Please let me know if you are in need of any collaborators.

[2019-03-19 11:57] #101 closed

[2019-03-20 22:04] #103 closed

[2019-03-21 14:41] #102 closed

[2019-03-21 17:19] caleb15 opened #104 "feat: ability to start progress on any issue"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I can't start work on a issue because it's not in progress. Sometimes I might want to add work on a in review issue. Also it would be nice if working on a issue automatically moved it to in progress (if lets say it was in to do initially).

**Describe the solution you'd like**
When I click on working issue I sho

[2019-03-21 17:38] gioboa commented on #104
Hi @caleb15 ,
if you want also review issue there is the specific setting for it `Working Issue Statues` .
Implement move automatically `in progress` can be difficult because every team as different workflow.
We need to think a universal way to do that, maybe a setting or something like this.

[2019-03-21 18:15] gioboa commented on #104
A solution can be a setting to enable/disable this feature:
- after working issue selection the plugin call `change status` for that issue, then the user will decide the new status or skip the change. You can change into `in progress` or something else. @caleb15 what do you think?

[2019-03-22 08:23] #104 closed

[2019-03-27 13:28] patrick-mota opened #105 "Can't define password in parameters"
**Describe the issue**
If you configure jira plugin via the parameters menu you can't define the password since the field doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Parameters
2. Click on Extensions
2. Click on Jira configuration
3. Scroll down to username
4. Can't find password input

**Expected behavior**
I think we should be able to define the password from the

[2019-03-27 13:54] gioboa commented on #105
Hi @patrick-mota ,
password field is hidden for security reason.
The only way to configure it is by `setup credential` command.
The plugin store password data inside VsCode global storage.
The system for store this info use the combination of baseUrl + user , so you can have different combinations as expected. :+1:

[2019-03-27 15:05] patrick-mota commented on #105
Ah ok, thank you for your fast answer.

I asked because usually in some plugins we have a button to set a password with hidden chars.

Btw thank you for your plug-in he is awesome.

Just one or two missing features like seeing the issue directly in vs code and the most important for me would be to manage time manually (like a start/stop button) and not only when you switch in issues but I'll try t

[2019-03-27 15:05] #105 closed

[2019-03-27 15:51] gioboa commented on #105
Seeing issues directly in VsCode is something interesting but it's hard to manage all the fields and situations. Add stop/start button can be quite simple to implement. If you like you can create a PR for it. :+1:

[2019-04-16 19:17] aglensmith opened #106 "issue: Splitting on CREDENTIALS_SEPARATOR can Break Authentication"
**Describe the issue**

Its possible for password or username to contain `CREDENTIALS_SEPARATOR`. When this happens, authentication breaks.

**To Reproduce**
Steps to reproduce the behavior:

1. During configuration, enter password or username that contains `CREDENTIALS_SEPARATOR`.
2. place breakpoint [here](https://github.com/gioboa/jira-plugin/blob/develop/src/services/configuration.service.ts#L

[2019-04-16 19:22] gioboa commented on #106
Hi,
nice catch. :+1:
If you want you can create a PR or if you prefer I will solve the issue.
Thanks. :+1:

[2019-04-17 05:58] RafeSafari opened #107 "issue: can't set working issue"
I was trying to set the working issue from here:
![image](https://user-images.githubusercontent.com/8758127/56263710-4313b900-60f9-11e9-9e1a-44436a838c92.png)

Encountered with message:
![image](https://user-images.githubusercontent.com/8758127/56263751-735b5780-60f9-11e9-9067-994d9f7b31d5.png)

I'm logged in, and the project IQEY is selected, also there are issues in IQEY project which are assign

[2019-04-17 06:01] gioboa commented on #107
Hi, in 138 and 120 status is 'in progress'?
If not, you can customize the working issue statuses in settings. :+1:

[2019-04-17 06:17] RafeSafari commented on #107
I tried this:
![image](https://user-images.githubusercontent.com/8758127/56265106-e2d34600-60fd-11e9-8c7f-c28e5669794f.png)

and this:
![image](https://user-images.githubusercontent.com/8758127/56265138-fb436080-60fd-11e9-8912-b1d4472b5d36.png)

still the same info message!
![image](https://user-images.githubusercontent.com/8758127/56265204-304fb300-60fe-11e9-909d-e19afe67c6f0.png)

[2019-04-17 06:46] gioboa commented on #107
The plugin perform this JQL for retrieving the issues.
`project = '${project}' AND status in (${statuses}) AND assignee in (${assignees}) ORDER BY status ASC, updated DESC`
If you perform this jql in Jira web application, have you got any result?

[2019-04-17 07:26] #106 closed

[2019-04-17 07:29] gioboa commented on #106
I solved the issue.
The plugin stored credentials in JSON format.
If JSON.parse fail I assume the credentials were store by a previous version.

[2019-04-17 07:48] gioboa commented on #106
@aglensmith
I solved the issue by my own, but if you want to contribute in something, you are welcome. 😄 👍

[2019-04-18 06:53] RafeSafari commented on #107
thanks for the reply,
`project = 'IQEY' AND status in ("In Progress") AND assignee in ('rafe') ORDER BY status ASC, updated DESC`
found nothing, but
`project = 'IQEY' AND statusCategory in ("In Progress") AND assignee in ('rafe') ORDER BY status ASC, updated DESC`
works like charm!
So, how should I change the JQL in vsCode plugin?

[2019-04-18 07:02] gioboa commented on #107
At the moment there isn't possibility to change working issue JQL. You can customise statuses, assignees but not the fields. 😢
So in you environment there is difference from status and statusCategory.
You can try by adding all statuses assigned to statusCategory 'In progress'.

[2019-04-18 07:30] RafeSafari commented on #107
Is there any tutorial web page to do the adding?

[2019-04-18 08:02] gioboa commented on #107
[here](https://github.com/gioboa/jira-plugin#settings)
- **Working Issue Statues** <br>
  Statuses used for extract working issue list (e.g. In Progress, Development In Progress, Test in Progress)
You can find this setting in VsCode :+1:

[2019-04-18 09:12] RafeSafari commented on #107
Added working issue status and it's working great!
Closing...
Thanks

[2019-04-18 09:12] #107 closed

[2019-04-29 07:14] magneticcore opened #108 "Jira Atlassian v74.5 and https: impossible to connect"
We use Jira internally with a proxy.
Visual Sudio Code: 1.33.1, Windows version
Jira-Plugin: 0.16.0

After switching to Jira v7.4.5 and using https in place of http for the Jira server, Jira Plugin cannot anymore connect to our Jira server (before with old Jira server version and http, all was worked as expected and great).

Now Jira-Plugin gives the following error:
Error: Check Jira Plugin setti

[2019-04-29 08:06] gioboa commented on #108
Hi @magneticcore , did you try by adding some statuses in `additional stutuses` setting?

[2019-04-29 08:33] magneticcore commented on #108
Hi gioboa,
Thank you for your quick answer.

There is no additional status in jira-plugin settings.
Is these additional status match jira state or status?
If yes, there is no new visible jira state in Jira server v7.4.5 comparing to our previous version. But I need to check with an administrator.
If no, what it is exactly?

[2019-04-29 08:45] gioboa commented on #108
With this special setting you can add custom status e.g Done, In progress and the plugin will use them. Try to set Done, In progress, To do and check the result.

[2019-04-29 10:05] magneticcore commented on #108
I put a lot of jira status separated by comma (English and french) as you told me but still the same, error.
I wrote them like yours,, Done and not done.
The list: Done,In Progress,No Category,To Do,Opened,Reopened,Resolved,Closed,In Creation,Affected,Rejected,Ready,New,Ready for Version

Is there a possibility to know which status is missing?

[2019-04-29 10:11] gioboa commented on #108
Maybe it's another problem.
Firt of first, do you see issue list correctly?

[2019-04-29 10:37] magneticcore commented on #108
No list of issues. In fact, nothing. After opening VS Code, the jira-plugin raises the error directly. That's why I thought about connection problem.

[2019-04-29 11:26] gioboa commented on #108
The fastest way to understand the problem is hack the plugin code.
Are you on Windows or Mac/Linux environment?

[2019-04-29 20:24] ChrisKader commented on #108
@magneticcore  I noticed you said you are using a self hosted JIRA.

@gioboa does this plugin work with self-hosted solutions?

[2019-04-29 20:36] gioboa commented on #108
Yes, It work correctly with environment hosted in self domain. e.g https://jira.xxx.com :+1:

[2019-05-02 19:01] gioboa commented on #108
@magneticcore Did you find something? did you manage to debug the code?

[2019-05-02 20:11] gioboa commented on #108
Yes, you are right, if the plugin is not configured yet I will hide the error.

[2019-05-03 07:44] gioboa commented on #108
@magneticcore
I looked in the code and the error appear also when credentials are wrong.
Did you try to setup credentials from zero?

[2019-05-09 10:40] gioboa commented on #108
@magneticcore Do you have some news?

[2019-05-10 08:10] #108 closed

[2019-05-10 13:29] mrmikee opened #109 "feat: settings: Projects To Include"
Instead of only being allowed to Exclude projects, please add feature to only Include projects in a "white list".

Our team shares a JIRA self-hosted instance with 30+ other teams and the Exclude list would be too large to manage.  Being able to only include the 5-10 projects we actually work on would be a great help.

[2019-05-10 15:14] gioboa commented on #109
hi @mrmikee,
this issue is related to #91 , please have a look. :+1:

[2019-05-14 06:09] #109 closed

[2019-05-23 17:52] rwatts3 commented on #56
This doesn't seem to work when using jira server.

[2019-05-23 19:37] gioboa commented on #56
Hi, have you got the terminal output error?

[2019-06-06 06:40] drpark opened #110 "Impossible to login to jira cloud"
Hi,
i'm using jira in cloud mode via https://mycompany.atlassian.net
i set the credentials correctly, but i get a "check log in jira terminal output" but so i don't have the jira logs because of using jira cloud...

Is it possible to connect successfully on a jira cloud account?

thank you

[2019-06-06 07:54] gioboa commented on #110
Hi @drpark,
[here](#34) you can find the logs.

[2019-06-06 13:30] drpark commented on #110
ok thank you, didn't understood it was an api token needed. Works ok.

[2019-06-06 13:30] #110 closed

[2019-06-13 15:56] juanfernandes opened #111 "No STATUS: 'In progress', ASSIGNEES: currentUser() issues found in [project-name] project"
When I click on "No working issue" on the status bar, i get the following message:

_This is most likely an issue with our setup._

**To Reproduce**
1. Make sure you're in a Project, without an issue selected
1. Click on 'No working issue'

**Expected behaviour**
It should allow me to choose an issue to work on

**Desktop (please complete the following information):**

**Log**
_Nothing in the log_

[2019-06-13 16:28] gioboa commented on #111
Hi,
Have you got any issues in Jira web application for your user with status in progress?

[2019-06-14 09:07] FelikZ commented on #111
I have the same issue. Updated setting called "Jira-plugin: Working Issue Statues" to a proper list of statuses that I am interested in:
`"In Progress","To Do","Review"`
However, it still show the same query with `In progress`, regardless of window reload.

[2019-06-14 09:58] gioboa commented on #111
@FelikZ great to see that it's resolved. 👍

[2019-06-14 09:58] #111 closed

[2019-06-14 22:23] PDunbarCGI opened #112 "feat: Show Jira Issue# after creating new issue"
**Is your feature request related to a problem? Please describe.**
When I create a new issue, I typically have to open the issue in a browser in order to see it.

**Describe the solution you'd like**
Really, it would be nice if the message completion dialog displayed the newly created issue ID and offered to make it my working issue if I didn't have an active one at the moment.

[2019-06-15 07:53] gioboa commented on #112
Hi @PDunbarCGI
It's quite easy and I will implement it :+1: :smile:

[2019-06-19 12:36] #112 closed

[2019-06-22 13:10] gchr opened #114 "feat: jira query timeout"
**Is your feature request related to a problem? Please describe.**
Our JIRA server is slow. Most of the queries end up with a ESOCKETTIMEDOUT in "JIRA-PLUGIN" output

**Describe the solution you'd like**
A setting defining the response timeout when quering Jira server.

**Describe alternatives you've considered**
An increase to the default timeout.

[2019-06-22 14:20] gioboa commented on #114
Hi @gchr,
Thanks for your feedback.
I will check if there is the possibility to create a param for query timeout :+1:

[2019-06-27 08:19] dthielking opened #115 "Trying to get Default JQL Search working"
**Describe the issue**
Hello, I'm new to this extension. Maybe I make something wrong.
I want to create my own JQL Search. I constructed it via Jiras search and tried pasting it in the appropriate config.
But it seems that this is not working.

I want to see all issues assigned to me with status open in the current sprint.
`sprint in openSprints() and sprint not in futureSprints() AND status = OPE

[2019-06-27 12:40] MrRefactoring commented on #114
I think this behavior should be implemented in the `jira-connector`. I'm right?

[2019-06-27 16:06] gioboa commented on #115
Hi @dthielking ,
the plugin already search for current sprint with this JQL:

`project = '${project}' AND sprint in openSprints() and sprint not in futureSprints() ORDER BY status ASC, updated ASC`

maybe you can simply add `AND status = OPEN AND assignee in (currentUser())` at the above JQL
please have a try 👍

[2019-06-27 16:11] gioboa commented on #114
@MrRefactoring yes, I did check if `jira-connector` accept timeout param.
If the lib implement this feature, the code can be much cleaner 👍

[2019-06-27 16:27] MrRefactoring commented on #114
Timeout added in version 2.15.2 (jira-connector)

[2019-06-27 16:28] MrRefactoring commented on #114
Example:

[code]

[2019-06-27 16:32] dthielking commented on #115
Hi @gioboa i did that and it didn't work.
I see all open jira issues.

[2019-06-27 16:44] gioboa commented on #114
Great news. 🥇 I will update the lib and I will add the param in the plugin settings

[2019-06-27 16:45] gioboa commented on #115
And the same JQL extract different issues in Jira Web Application?

[2019-06-27 16:49] dthielking commented on #115
Yes.
`sprint in openSprints() and sprint not in futureSprints() AND status = OPEN AND assignee in (currentUser()) ORDER BY status ASC, updated ASC` in Jira itself gives me exactly what I except.

[2019-06-27 17:37] gioboa commented on #115
Could you tell me in witch param you have insert the JQL please?

[2019-06-28 05:27] dthielking commented on #115
Yes of course.
`"jira-plugin.defaultJqlSearch": "project = '${project}' AND sprint in openSprints() and sprint not in futureSprints() ORDER BY status ASC, updated ASC"`
This is the entry in my `settings.json`.

[2019-06-28 05:34] gioboa commented on #115
Ok, so this search is available in the three dots menu.
In this JQL I don't see any filter for you user...
You need a VsCode restart for apply new changes in the plugin settings.

[2019-06-28 05:45] dthielking commented on #115
Thank you for the hint with restarting.
Now I'm using the correct JQL.
`"jira-plugin.defaultJqlSearch": "project = '${project}' AND sprint in openSprints() and sprint not in futureSprints() AND status = OPEN AND assignee in (currentUser()) ORDER BY status ASC, updated ASC",`

And after restarting VSCode I get an error from the JIRA-PLUGIN Output Terminal.
`{"statusCode":400,"body":{"errorMessages"

[2019-06-28 05:55] gioboa commented on #115
Here the description of default jql settings
"description": "Here you can define your default/custom JQL search (n.b: WORKING_PROJECT is the placeholder for the current working project)"

The default value:
 "project = 'WORKING_PROJECT' ORDER BY status ASC, updated DESC"

So replace project piece with this project = 'WORKING_PROJECT' :+1:

[2019-06-28 05:59] dthielking commented on #115
Great. Thank you for your help!
Now it works! 😀

[2019-06-28 05:59] #115 closed

[2019-07-01 20:40] #114 closed

[2019-07-02 16:33] gchr commented on #114
Great job guys! @gioboa @MrRefactoring
Thanks!

[2019-07-03 10:05] QuercusB opened #118 "Problem with work log submitting"
**Problem:**
When trying to submit work log got a error in "Jira Plugin" output window.
However, it actually worked week ago and I suspect that our Jira masters have changed something in Jira. If I go to issue in Jira I'm able to add work log.

Truncated error:

`{"statusCode":400,"body":{"errorMessages":["Unrecognized field \"worklog\" (Class com.atlassian.jira.issue.fields.rest.json.beans.Worklo

[2019-07-03 11:24] gioboa commented on #118
Hi, with previous version works?

[2019-07-03 12:16] QuercusB commented on #118
Previous version of plugin?
Didn't notice that plugin was updated.

It worked a week ago (maybe even two days ago) - something changed since then.

[2019-07-03 12:30] gioboa commented on #118
Yes, I updated the plugin a day ago.
I think this [commit](https://github.com/floralvikings/jira-connector/commit/e359449ddf699747d2cce0bedf9f5438a873d084#diff-86e3970419724dabc12f35fb7aca98f7) broke something.
You can downgrade the plugin version and I will fix as soon as possible. Thanks.

[2019-07-03 12:56] QuercusB commented on #118
Thanks, downgraded - that helps.

[2019-07-03 12:57] #118 closed

[2019-07-05 15:30] gioboa commented on #118
In the new [v 0.18.1](https://github.com/gioboa/jira-plugin/releases/tag/0.18.1) works as expected. 👍

[2019-07-06 15:44] vrokolos opened #119 "feat: Multiple active projects"
Can we have a setting in config to active multiple active projects at once? I've got a project with multiple subfolders each a different jira project.

[2019-07-06 17:33] gioboa commented on #119
Hi @vrokolos all the plugin feature are straight to one project.
Use one or more project at once maybe should be possible, I need to think how implement the feature? :smile: :+1:

[2019-07-08 08:10] magneticcore opened #120 "feat: Setting to match git branch name with jira project id when they are different"
The goal is to have a setting to match git branch name with jira project id when they are different to update git information as well, for example:
Jira project id: MYPROJ
git branch: feature/MYNEWPROJ

The setting can be a string which gives the matching: MYPROJ=MYNEWPROJ

So each time Jira plugin needs to use the Jira project id for git, it translates it to its matching value: MYPROJ-68 (Jira) =

[2019-07-08 08:21] magneticcore opened #121 "issue: Unable to verify the first certificate with VS Code 1.36"
After VS Code updating to v1.36 from 1.35, Jira Plugin stopped to work, raising the error "Unable to verify the first certificate" (before updating, all was ok).

For a test, I tried to use the environment variable NODE_TLS_REJECT_UNAUTHRIZED=0, but without success, VS Code giving me another error.

Any idea?

Version: 1.36.0 (user setup)
Commit: 0f3794b38477eea13fb47fbe15a42798e6129338
Date: 2019

[2019-07-08 08:25] magneticcore commented on #121
I put also your setting jira-plugin.strictSSL to false and http.proxyStrictSSL to false with http.proxy correctly given

[2019-07-08 09:17] gioboa commented on #121
Hi @magneticcore ,
Did you try to set StrictSSL param?

[2019-07-08 11:31] magneticcore commented on #121
In the output log of Jira-Plugin, there is only the error message "unable to verify first certificate"

[2019-07-08 12:20] gioboa commented on #121
Have a look at [this issue](https://github.com/gioboa/jira-plugin/issues/1) maybe are related.
I think you can solve the problem by using [this extension](https://marketplace.visualstudio.com/items?itemName=ukoloff.win-ca)

[2019-07-09 08:49] magneticcore commented on #121
After rolling back from version 0.18.1 to 0.17.0, Jira plugin is working again, I just needed to switch the setting jira-plugin.strictSSL to true, reload vscode, switch to false and reload vscode.

[2019-07-09 09:01] gioboa commented on #121
So now you are using 0.17.0 version? Mmmm... maybe it's a dependency lib issue...

[2019-07-09 09:14] magneticcore commented on #121
Yes, I'm using again 0.17.0 and it works, but only after doing the switch on/off of the setting jira-plugin.strictSSL.

[2019-07-09 09:17] gioboa commented on #121
I checked the code of the dependency lib and seems ignore my strictSSL flag.
I will fix the plugin code and I will release a new minor version.
Thanks for your feedback 👍

[2019-07-09 12:18] #121 closed

[2019-07-09 12:49] gioboa commented on #121
The new version [0.18.2](https://github.com/gioboa/jira-plugin/releases/tag/0.18.2) will solve this issue.
You must set strictSSL = 'false', restart VsCode and it will works as expected. 👍

[2019-07-09 15:54] gioboa commented on #120
Yes, this feature has sense.
I will think how implement a simple setting for map the values.

[2019-07-10 06:22] magneticcore commented on #121
Version 0.18.2: Work again perfectly, thank you for the correction and reactivity!

[2019-07-15 06:13] dthielking opened #122 "feat: your_title_here"
**Describe the solution you'd like**
It would be nice to have a _global_ option to set the Jira project.
Our team is working wit on Jira project but with a lots of VSCode projects. So we have to set the Jira project for each VSCode project.
A good solution could be, to place a config parameter like:
`"jira-plugin.defaultProject": "PROJECT"`.

Thank you for considering.

[2019-07-15 10:31] gioboa commented on #122
Hi @dthielking ,
You can define `Jira-plugin: Working Project` in your VsCode User settings and delete the workspace configuration.
![Screenshot 2019-07-15 at 12 25 48](https://user-images.githubusercontent.com/35845425/61210167-ef1a6f80-a6fb-11e9-8cd4-9c773a292f0a.png)
If you setup VsCode like this, the plugin will take the User settings.
Anyway if you want a specific param for the workspace, you

[2019-07-17 09:49] gioboa commented on #122
@dthielking  Did it solve your problem?

[2019-07-17 09:57] dthielking commented on #122
Oh, sorry. Yes it did. Thank you for your help again.

[2019-07-22 07:37] kpolivier opened #123 "deprecation of /rest/api/2/project + deprecation of basic authentication with passwords for Jira"
**Describe the issue**
Can't connect to atlassian anymore...
They seem to have change securities for authentification in june:
https://confluence.atlassian.com/cloud/deprecation-of-basic-authentication-with-passwords-for-jira-and-confluence-apis-972355348.html
I have been able to set up the plugin to connect but no way to select a working project in the status bar, it's empty and no error in the l

[2019-07-22 07:53] gioboa commented on #123
Hi @kpolivier,
try to [create a token](https://confluence.atlassian.com/cloud/api-tokens-938839638.html) form your Jira Web Application and use this token in the plugin password field. 👍

[2019-07-22 07:57] kpolivier commented on #123
yes, that's what I did.
Otherwise I had been unable to connect...

[2019-07-22 08:10] gioboa commented on #123
Sorry, I did not catch the info. 👍
Follow these steps please:
- log you user in jira web application
- copy paste this url: https://<your-domain>/rest/api/2/project
Did you see any json data?

[2019-07-22 08:15] kpolivier commented on #123
Yes, on Chrome I can connect to Atlassian and get the JSon with the URL you gave me.
But when trying to select a project in VSCode I got the message 'Set working project' in the upper bar and no project to select...
![Capture](https://user-images.githubusercontent.com/38097945/61616719-825a2480-ac69-11e9-9be4-a2d23795dc1e.PNG)

[2019-07-22 08:44] gioboa commented on #123
The fastest way to hack the code and understand what's append is open this file:
on macOS / Linux
~/.vscode/extensions/gioboa.jira-plugin-0.18.2/out/src/services/store.service,js
on Windows:
%USERPROFILE%\.vscode\gioboa.jira-plugin-0.18.2\out\src\services\store.service,js
and at line 46 insert this code:

console.log('JIRA projects', yield this.state.jira.getProjects());

Save the file and restart

[2019-07-22 09:19] kpolivier commented on #123
Here is what I got:

`[Extension Host] JIRA projects
Array(0)
length: 0
__proto__: Array(0)`

[2019-07-22 09:26] kpolivier commented on #123
If I try to connect with this command, I got an empty array, so I suppose the problem is from Atlassian, not the plugin:
curl -v https://{mysite}.atlassian.net/rest/api/2/project --user {myusertoken}={myuserPassword}

I will check if everything is ok on my account...

[2019-07-22 09:44] kpolivier commented on #123
I tried to delete my token and generate it again but no more luck...

In the documentation, I found /rest/api/2/project was deprecated and now we should use instead /rest/api/3/project/search but even with this URL, I got an empty array...
Ar you able to get something on your side?

[2019-07-22 10:06] gioboa commented on #123
Yes, I can modify the code for use the new endpoint.
If you try with curl this one `/rest/api/3/project/search?jql=&maxResults=200` you get some results?

[2019-07-22 12:07] kpolivier commented on #123
ok, that's all fine now... I get the project...
thank you!

[2019-07-22 12:24] gioboa commented on #123
Did I miss something? 😕 Is it working?

[2019-07-22 13:36] kpolivier commented on #123
yes, it's working now.
Be sure to use the new URL /rest/api/3/project

[2019-07-22 13:40] gioboa commented on #123
So I will modify the pulgin to call /rest/api/2/project and if there aren't projects /rest/api/3/project. ok?

[2019-07-22 13:50] kpolivier commented on #123
As it seems rest/api/2 is being deprecated, I would have done the opposite but anyway, it should work...

But I don't know why rest/api/2 call give me an empty array whereas rest/api/3 send me the full list...
I suppose some bug in the atlassian API...

[2019-07-22 22:39] gioboa commented on #123
@MrRefactoring
do you think we can include the version option in jira-connector getAllProject call?

[2019-07-23 06:23] MrRefactoring commented on #123
I think it can be done. Could you get an issue so that I don't forget to do this in my free time?

[2019-07-23 12:43] gioboa commented on #123
Already fixed in https://github.com/floralvikings/jira-connector/issues/177
@kpolivier  I will prepare a new version of jira-plugin.

[2019-07-23 13:20] gioboa commented on #123
I cannot reproduce the problem in my Jira.
Could you try this version for me please?
In this new version first we call v3 API for projects and v2 is the fallback call.
[jira-plugin-0.18.3-alpha.vsix.zip](https://github.com/gioboa/jira-plugin/files/3422204/jira-plugin-0.18.3-alpha.vsix.zip)
Let me know, thanks. 👍

[2019-07-24 06:30] kpolivier commented on #123
for me it's good.
I even try to replace line 72 of http.service.js with "apiVersion: '2'" to test with v2 and I got no projects as it was for yesterday so I think everything is alright...(except the bug from atlassian with api v2 for me...)
Thank you for your job.

[2019-07-24 06:30] #123 closed

[2019-08-10 11:23] jrpub opened #124 "feat: Field for time estimation in the creation menu"
It seems the option to add the time estimation for an issue does not exist.

In my Jira, this field is: "Original Estimate", described as "The original estimate of how much work is involved in resolving this issue."

It is frustrating to log time without being able to enter the estimated time :-)

I didn't find a workaround, except to set the estimate in Jira each time I create a new issue, which

[2019-08-10 11:30] gioboa commented on #124
Hi @jrpub ,
I think the field is not managed. I will work to implement the possibility to insert also this particular field. Next week I will work on this. Thanks for your feedback and if you have any other suggestions please open an issue/feature request.

[2019-08-14 20:32] gioboa commented on #124
@jrpub
I created an alpha package with this implementation. If you can test the functionality and all It's ok, I will publish the new release.

[jira-plugin-0.18.3-alpha1.zip](https://github.com/gioboa/jira-plugin/files/3503235/jira-plugin-0.18.3-alpha1.zip)

Thanks in advance for your help. :+1: :1st_place_medal:

[2019-08-14 20:45] gustavobcampos opened #125 "feat: vscode confirm exit when counting time"
**Is your feature request related to a problem? Please describe.**
Closing VSCode when working on an issue throws the time away.

**Describe the solution you'd like**
VSCode asks if you really want to close it with an ongoing timer.

**Describe alternatives you've considered**
When reopening VSCode the time is not lost, it is reloaded in some sort of cache
Closing VSCode automatically submits issu

[2019-08-14 21:14] gioboa commented on #125
Hi @gustavobcampos , there is a mechanism to retrieve the previous working time if you close VsCode before submit the worklog.
Did it works in you scenario?
I will check if there is the possibility to prevent VsCode for exit. :+1:

[2019-08-15 08:44] jrpub commented on #124
I tested. It works a bit, but not fully: I can enter an Original Estimate and a Remaining Estimate, but the entered values are different on the Jira side:

- I entered "7h" and "6h" respectively
- Both values are converted in Jira to: "1d 2h" and "1d 1h".

This seems to be a conversion issue.

In addition, I noticed that "Fix version" does not work (no value in Jira), but it was also the case with

[2019-08-15 10:58] gioboa commented on #124
Yes open a new issue for fix version.
In Jira web application if you enter 7h and 6h there are some conversions?

[2019-08-15 12:36] jrpub commented on #124
Ok, I checked, and everything is fine. It was on the Jira side, it converts automatically based on the configuration, notably the number of hours in a workday (which is configurable).
In the help of these fields, I saw that:

[code]

[2019-08-15 12:43] jrpub opened #126 "issue: Fix version field not working when creating an issue"
When creating an issue, filling the "fix version" does not work, the field remains empty on the Jira side.

In Vscode, we see correctly the list of the versions, but selecting one and saving the issue leaves the "fix version" value blank on Jira.

[2019-08-15 14:47] gioboa commented on #124
Great :+1: I will publish an official release next week with this feature. :smile:
Thanks for your help :1st_place_medal:

[2019-08-15 14:47] #124 closed

[2019-08-15 14:51] gioboa commented on #126
Thanks for the feedback. I will check the Jira API call for create a new issue.

[2019-08-16 12:14] phyedeaux opened #127 "issue: 'Certificate has expired' when trying to select a project"
I am using OAuth to connect to the Jira server. Formerly we did not have to manually sign into Jira. Recently, about a month ago, the ability to select a project stopped working. The Jira-Plugin Output console displays 'certificate has expired' when selecting the project.

The ability to select a branch of the project is working.
**To Reproduce**
Steps to reproduce the behavior:
1. Click on Projec

[2019-08-16 12:24] gioboa commented on #127
Hi,
"Sing in to Jira" isn't a button of this plugin, anyway did you try to reconfigure the plugin with "setup credentials"? Maybe a new Kira access token can resolve the problem.
[Here](https://github.com/gioboa/jira-plugin/issues/34) you must find the complete login error.

[2019-08-16 12:32] phyedeaux commented on #127
Sorry about the 'Sing', should be 'Sign'.

I was unable to upload the screenshot to github, tried many image formats,
no luck.

Here is the VSCode status bar with the link to Jira and the complete error
in the output terminal:
[image: image.png]

When clicking the link to 'Sign in to Jira' here is the resulting error:
[image: image.png]
Thanks,
Todd

On Fri, Aug 16, 2019 at 8:24 AM Giorgio Boa <no

[2019-08-16 16:42] jrpub opened #128 "feat: merging Todo+ ideas to Jira plugin?"
Using both Jira-plugin, and Todo+, I find that both plugins are wonderful.

**With Todo+:**
I like how it is fast to enter / toggle / change the status of an issue, as it is fully text based. Furthermore, I like the presentation (colors and icons). Currently, I use it for my "micro-tasks".

**Jira-plugin:**
I like it because I can create a Jira issue without moving away from Vscode, and for the ti

[2019-08-16 17:27] gioboa commented on #128
Hi @jrpub
I never used Todo+, but I will download it and I will study it.
Simplify the user experience anyway is always good point to reach. :+1:
Thanks for your feedback and ideas. :100:

[2019-08-16 20:25] gioboa commented on #126
I've done a test and I created correctly a issue with a fix version.
I've done the test into my Jira cloud server.

[2019-08-19 21:31] gustavobcampos commented on #125
"if you close VsCode before submit the worklog, there is a mechanism to retrieve the previous working time."
I tested this and it did not work, when I reopened VSCode no working issue was set, is there a setting that I'm missing?

[2019-08-19 21:42] gioboa commented on #125
No the plugin do it automatically.
If we implement the dialog before vscode close we can solve the problem without restore any previous pending working. We kill two birds with one stone.:+1:

[2019-08-20 14:35] gioboa commented on #126
@jrpub Did you try again to create an issue with fix version field?

[2019-08-20 15:49] gioboa commented on #125
I studied VsCode code and all the events (onClose etc. etc.) unfortunately are private and the others dispose methods are call too late.
I tested my implementation for retrieve the last not stopped work issue and it works.
The plugin every minute, if there is a current working issue started, it write in the private VsCode memory and then at startup resume it. [here the code](https://github.com/gio

[2019-08-21 19:49] gustavobcampos commented on #125
I retested the feature that saves time on VSCode close, and it works sometimes, I decreased the time which the plugin saves the working issue, and it worked seemed to help a little, but still bugs sometimes.

I also asked a friend to test on his Notebook and it did not work too. I don't know if it's something related to our SO (we both have Ubuntu 18.04), but when we reopen VSCode the plugin loses

[2019-08-21 20:13] gioboa commented on #125
Working project is saved in setting.json file ( under .vscode folder ).
When you open a project / folder the plugin read the config from this file and use general settings as fallback. Saving working issue evrey 1 min maybe can be replace with other logics.

[2019-08-30 16:53] lart2150 opened #129 "Qustion about Oauth"
The description of this plugin talks about oauth support and issue #52 seems to indicate that oauth was added however https://id.atlassian.com/manage/api-tokens is api tokens not oauth.  Sadly api tokens only works for cloud.  oauth requires a handshake to generate a token so it's not like you can just grab a oauth token that's already generated for another application (like bitbucket, confluence,

[2019-08-30 19:02] gioboa commented on #129
Hi @lart2150 ,
I don't understand the problem. Have you got an authentication problem?

[2019-08-30 20:34] gioboa commented on #126
@jrpub Do you have any news?

[2019-09-04 07:28] gioboa commented on #126
Notice: this issue has been closed because it has been inactive for 7 days.
You may reopen this issue if it has been closed in error.

[2019-09-04 07:28] #126 closed

[2019-09-04 07:29] gioboa commented on #127
Notice: this issue has been closed because it has been inactive for more than 7 days.
You may reopen this issue if it has been closed in error.

[2019-09-04 07:29] #127 closed

[2019-09-04 07:30] gioboa commented on #125
Notice: this issue has been closed because it has been inactive for more than 7 days.
You may reopen this issue if it has been closed in error.

[2019-09-04 07:30] #125 closed

[2019-09-04 07:30] gioboa commented on #129
Notice: this issue has been closed because it has been inactive for more than 5 days.
You may reopen this issue if it has been closed in error.

[2019-09-04 07:30] #129 closed

[2019-09-05 11:22] gchr opened #130 "Use JIRA function membersOf() for assignees list"
**Describe the issue**
Trying to use the membersOf() function in jira-plugin.workingIssueAssignees setting

**To Reproduce**
Steps to reproduce the behavior:
1. Set in settings:
`"jira-plugin.workingIssueAssignees": "membersOf(data-feed-developers)", `
where 'data-feed-developers' is a valid group in Jira server
1. Close VSCode
1. Start VSCode (to make sure the 'working Issues' are not cached)
1.

[2019-09-05 11:27] gioboa commented on #130
I will check the possibility to use membersOf function. :+1:

[2019-09-09 15:11] gioboa commented on #130
I've build an alpha version to test this fix.
Please have a try and give me feedback. 👍
If all it's ok I will release a new official version. 😄

[jira-plugin-0.18.4-alpha.zip](https://github.com/gioboa/jira-plugin/files/3591196/jira-plugin-0.18.4-alpha.zip)

[2019-09-11 12:55] gchr commented on #130
I've started using it today. It's working great!

I also tried combining a name with membersOf, too, and everything seems ok.
"jira-plugin.workingIssueAssignees": "Dev.Name,membersOf(data-feed-developers)"

Great job!
Thank you!

[2019-09-11 12:55] #130 closed

[2019-11-01 00:10] caleb15 opened #132 "bug: wrong git branch name detection when submodules are present"
**Is your feature request related to a problem? Please describe.**
Often I forget to set my working issue.

**Describe the solution you'd like**
Upon workspace open or branch switch the jira extension would automatically scan the branch name for possible jira tickets (maybe using a regex like `(\w+-\d+)`) and if it matched a in-progress issue id for the current project than that issue would be set

[2019-11-01 01:06] caleb15 commented on #132
I tried to donate a couple euro to you but unfortunately it didn't work for some reason :(

Maybe [github sponsors](https://github.com/sponsors) would work better?

[2019-11-01 06:19] gioboa commented on #132
Hi thanks for your feedback.
The plugin already try to parse git branch name to change working issue.
At this line the code https://github.com/gioboa/jira-plugin/blob/d0894dfbe5ab42ef9924f2da1bb4dd15140b2596/src/services/git-integration.service.ts#L154
For git sponsor I will check how to add it  :+1: :smile:

[2019-11-01 06:59] gioboa commented on #132
The regex catch branch named like this MYPRJ-123. Maybe we can improve the logic of matching. :+1: let me know :smile:

[2019-11-01 19:16] caleb15 commented on #132
Ah, I guess this is actually a bug then. When I switch to a branch that matches a in-progress issue nothing happens. For example, DEV-551 is in progress but when I switch to a branch called DEV-551 I still have "no working issue" and I don't see any error logs in the console.

Here's how it would be parsed according to your regex:

****
![image](https://user-images.githubusercontent.com/46505081/6

[2019-11-01 19:17] caleb15 commented on #132
my vscode info:
[code]

extension info:
[code]

[2019-11-01 22:06] gioboa commented on #132
Do you see DEV-551 in your "valid" working issue list? The plugin check the regex and if is a valid working issue.

[2019-11-01 22:14] gioboa commented on #132
The fastest way to understand the problem is hack the plugin code.
In this folder you have all installed extensions
%USERPROFILE%.vscode\extensions
If you open with text editor this file
%USERPROFILE%.vscode\extensions\gioboa.jira-plugin-xx.xx.xx\out\src\services\git-integration.service.ts
You can debug the code.
console.log are visibile in VsCode dev tool - Help > Toggle Developer Tools
parseTick

[2019-11-04 22:15] gioboa commented on #132
@caleb15 Did you find something?

[2019-11-11 22:44] bittner commented on #119
We don't have the notion of a "current project". We're a DevOps company and we have a lot of customers that we all support from a single backlog by squad (team). On our (team) Kanban board we have tickets from all projects (i.e. Jira namespaces, which represent customers).

It would make sense for us to allow listing all tickets of a (Kanban) board, e.g. filtered by statuses (e.g. "show all ticket

[2019-11-12 09:03] gioboa commented on #119
Hi, so you meen that your Kanban board isn't under a specific project?
If you search for a specific task which JQL you use? Can you send me an example?

[2019-11-12 20:36] anothertobi commented on #119
Hi @gioboa

I am working together with @bittner.

We use our Kanban board as an aggregator for multiple projects.

A simple JQL query could look like `Squad = Capella AND resolution = Unresolved ORDER BY Rank ASC`. This will search over all projects in Jira (due to the lack of `project =`) for issues "assigned" to a squad (team). We implemented the `Squad` field as a custom field in Jira.

Sometim

[2019-11-12 20:42] soufianebenali commented on #119
Hi @gioboa,

I'm @bittner's colleague this is an example of JQL query in Jira that we are using:
`(squad = "Beta Team" OR labels in ("Beta Team")) AND project not in ("Project A", "Project B")`

`squad` is a custom field that we are using in all our issues to assign a ticket to a specific Team.

How you see the filter doesn't have any reference to a specific project.

We saved this query as a filt

[2019-11-12 22:03] gioboa commented on #119
Thanks for your feedback. I will check the possibility to implement logic without current project or with multiple projects.

[2019-11-14 14:07] gioboa commented on #119
I though a bit and we can implement a "wildcard" project.
In current project we can select it and the plugin will search in all projects except the hide projects you can define in configuration. What do you think?

[2019-11-14 20:25] bittner commented on #119
Anyone using Jira would probably define their workflow as "product centric" (project / customer / product / component) or "support centric" (generic view across several or all projects). But isn't "project" just an *arbitrary* filter? Maybe it's a common one, but it's totally arbitrary, isn't it?

How I understand the plugin is:

* From the **status bar** I select a "filtering" (not a Jira *filter

[2019-11-14 20:36] gioboa commented on #119
You can find all the used JQL in the project readme. [Here](https://github.com/gioboa/jira-plugin#filters) My first idea was to create a Jira viewer and select a specific project it's a constraint in all the logic. Add the ability to define custom JQL I think it can be possible.

[2019-11-14 20:44] gioboa commented on #119
With current code there is the possibility to define a custom JQL, but the results are filtered by project. :expressionless:

[2019-11-15 03:26] caleb15 commented on #132
Yeah, I found the problem. I have a submodule in my repository, but the code only grabs the first item from `getGitRepositories`, which in my case happens to be the submodule.

[code]

![image](https://user-images.githubusercontent.com/46505081/68914525-b7f0b500-0713-11ea-9bf5-9082695fc045.png)

The above picture is the result of `this.getGitRepositories()`. The first item with the longer path is

[2019-11-15 03:27] caleb15 commented on #132
I also had to set the `gitIntegration` setting to true - the default is false.

[2019-11-15 06:35] gioboa commented on #132
:+1: Great! So now works as expected? Can we improve the code in some aspects?

[2019-11-15 16:25] magneticcore commented on #120
Github....no-issue-activity

[2019-11-15 16:37] gioboa commented on #120
@magneticcore Are you still interested at this feature?

[2019-11-15 17:46] caleb15 commented on #132
It doesn't work as expected. When I am in a project with a submodule it doesn't automatically switch the ticket based on branch name for the reason explained in my comment above. :(

To fix it you would need to check the branch name of each repository returned by `getGitRepositories`instead of just the first one. Currently you cache the current branch name so you would also have to change the cach

[2019-11-15 19:53] gioboa commented on #132
I will fix it, please give me an example to use for testing. Thanks. :+1:

[2019-11-15 21:26] caleb15 commented on #132
Just add a submodule to your repository and delete it afterwards:

`git submodule add https://github.com/<user>/<repoName> <name>`

You can add any random repo as a submodule ^

`git submodule update --init --recursive`

https://github.blog/2016-02-01-working-with-submodules/

[2019-11-18 05:39] magneticcore commented on #120
Yes, absolutely!

[2019-11-19 22:29] gioboa commented on #132
I've built an alpha version to test this fix.
Please have a try and give me feedback. +1
If all it's ok I will release a new official version. smile

[jira-plugin-0.18.5-alpha1.zip](https://github.com/gioboa/jira-plugin/files/3866355/jira-plugin-0.18.5-alpha1.zip)

[2019-11-19 22:29] gioboa commented on #120
I've built an alpha version to test this fix.
Please have a try and give me feedback. :+1:
If all it's ok I will release a new official version. :smile:

[jira-plugin-0.18.5-alpha1.zip](https://github.com/gioboa/jira-plugin/files/3866355/jira-plugin-0.18.5-alpha1.zip)

[2019-11-20 03:46] caleb15 commented on #132
Thanks! The jira extension recognizes main repo branches with a jira id now :)

It doesn't recognize branches within a submodule though. Personally speaking I don't care about branches in my submodule but eventually you might get someone reporting an issue for that FYI.

[2019-11-20 03:46] #132 closed

[2019-11-20 06:36] gioboa commented on #132
Yes, thanks for your feedback. The plugin take always the last repo in got repositories and the last is the main branch. :+1:

[2019-11-20 07:12] magneticcore commented on #120
I will check this afternoon and tomorrow and I will give you a feedback. Before installing it, did you add a setting to do the mapping as described in my initial comment?

[2019-11-20 11:27] gioboa commented on #120
Yes, I added a setting. You can find a description [here](https://github.com/gioboa/jira-plugin/blob/develop/README.md#settings) _Project Key Mapping_ 😄 👍

[2019-11-21 08:07] #128 closed

[2019-12-01 20:23] hmendezm opened #133 "Project: NONE"
**Describe the issue**
I entered the Jira URL and credentials and not an error. However when I click "Project: NONE" below in the bar. I get the msg 'Check logs in Jira Plugin terminal output'. How do I get the terminal out?

Best
H. Mendez

[2019-12-01 22:45] gioboa commented on #133
Hi, here you will find the [output log](https://github.com/gioboa/jira-plugin/issues/34) :+1:

[2019-12-03 14:45] hmendezm commented on #133
Thx

[2019-12-04 19:55] #133 closed

[2019-12-06 10:59] copdips opened #134 "thank you, very useful this plugin, save me a lot of time"

[2019-12-06 11:04] copdips opened #135 "feat: add option to include projects #109"
Hello,

As #109 is closed, I open this issue to address the same feature because in the current JIRA-PLUGIN version,  we can still only exclude but not includ.
Our JIRA is hosting 100+ projects, too difficult to exclude.

[2019-12-06 11:11] #134 closed

[2019-12-06 11:15] gioboa commented on #135
Hi, I will implement the possibility to set only the projects you desire. If this config is present it will override all projects list.

[2019-12-06 11:19] gioboa commented on #134
I'm really happy to help you. 👍 please star the repo. Thanks. 😄

[2019-12-10 02:57] JaydenMaalouf opened #137 "issue: User Password change causes mass failed login attempts and locks account"
**Describe the issue**
If a user ever changes their password (via AD or Jira) - the plugin will not pick up that there has been a change and will attempt to login several times. We experienced about 600 attempts over the over the course of 24hours for a single account.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup Jira for VS
2. Use it as normal
3. Update user password (in our case

[2019-12-10 06:39] gioboa commented on #137
Hi, thanks for your feedback. The plugin don't retry after a failed login, anyway I will check the code. :+1:

[2019-12-13 21:04] gioboa commented on #137
I can't reproduce the problem.

[2019-12-13 21:04] #137 closed

[2019-12-14 01:00] NTTAKR opened #138 "Set and choose working issue does not work if state "In progress" is missing in Jira"
For German Users Jira creates a project that has a state "In Arbeit" instead of "In progress".
I have the option to configure the list of status values that are displayed in the Jira:Explorer under "In Progress", but I cannot open the list of issues by clicking on "No working issue" in the status bar, nor can I choose or set a new working item.

1. Create a new project in Jira
2. Remove state "In

[2019-12-14 01:09] NTTAKR commented on #138
Sorry, I think you can close this issue.

It seems that if jira plugin cannot find any issues that are assigned to the current user it produces the error message.
As soon as I assign me to at least a single issue I do get the list of issues displayed and can choose the new current issue.

Thanks,
  Andreas

[2019-12-14 01:09] #138 closed

[2019-12-16 22:15] gioboa commented on #135
@copdips in v 0.19.0 I added projectsToShow setting. Here you can define only the projects to include.

[2019-12-16 22:15] #135 closed

[2019-12-16 22:19] gioboa commented on #120
Released in v 0.19.0

[2019-12-16 22:19] #120 closed

[2019-12-16 22:20] gioboa commented on #91
v 0.19.0 I added projectsToShow setting. Here you can define only the projects to include. The plugin keep, from all project list, only the project keys you define.

[2019-12-16 22:20] gioboa commented on #109
In v 0.19.0 I added projectsToShow setting. Here you can define only the projects to include. The plugin keep, from all project list, only the project keys you define.

[2019-12-16 22:22] gioboa commented on #135
If you like it, please star the repo. Thanks.

[2019-12-20 14:04] #119 closed

[2020-02-05 05:58] micharaze opened #139 "feat: Subtask as working issue"
**Is your feature request related to a problem? Please describe.**
When I want to select a working Issue to log my working time it is not possible to select a Subtask. The Jira Plugin only lists Stories and Tasks from current sprint.

**Describe the solution you'd like**
It would be helpful when it is possible to select also Subtasks as a working issue.

[2020-02-05 06:55] gioboa commented on #139
Hi, I retrieve working issue by Jira jql.
Can you give me an example for retrieve sub-tasks? Thanks :+1:

[2020-02-05 07:14] micharaze commented on #139
I am using in Jira a Scrum board. I am usually creating Sub-tasks in a story. When I am using the following JQL command in the Jira JQL search then I also get the Sub-tasks listed.

[code]

I don't know how your plugin is searching for Issues in progress. With the following command I am able to find all Sub-tasks in progress only:
[code]

I hope this helps.

[2020-02-05 07:24] gioboa commented on #139
The plugin search for project/status/assignee
[Here](https://github.com/gioboa/jira-plugin/blob/aca9e7d1d57e6446be3313321bdaf4681cc60fb8/src/services/select-values.service.ts#L134) the code. :smile_cat:

[2020-02-05 07:28] micharaze commented on #139
Ah, know I see the problem. Created Sub-tasks were not automatically assigned to me so I was not able to see them.

Thanks! 😃

[2020-02-05 07:28] #139 closed

[2020-02-13 03:33] micharaze opened #140 "feat: Start/Pause button for Time tracking"
**Is your feature request related to a problem? Please describe.**
I often want to pause the time tracker when ich want to make a short break or else. The current process needs too many steps for just stoping the time, saving the log and then starting it again few minutes later.

**Describe the solution you'd like**
What about an additional button for pause the time tracker on click and continue a

[2020-02-13 06:42] gioboa commented on #140
I will implement it :muscle:

[2020-02-14 12:29] SchmidtDawid opened #141 "I dont know how to set key mapping"
If my task in jira look like that: "APINT-3456 - bla bla bla" and i want to sync it with branches named feature/#3456 how my key should looks like?

And one question: Is it possible to create branches named by the same rule?

[2020-02-14 12:41] gioboa commented on #141
Hi @SchmidtDawid,
the plugin use this RegExp -> "branchName".match(/([A-Za-z0-9]+)-(\d+)/)
You can also define your own mapping:
config: Project Key Mapping in [settings](https://github.com/gioboa/jira-plugin#settings)

_- Is it possible to create branches named by the same rule?_
Unfortunatly VsCode git integration doesn't allow you to define a default branch name

[2020-02-14 12:58] SchmidtDawid commented on #141
Yes, but i don't know how to define my mapping. Should i pass 2 reqexes? or is there any variable to use? i don't understand this example CUSTOMKEY=JIRAKEY.

[2020-02-14 13:04] gioboa commented on #141
Maybe some code explain better than words 😄
[Here](https://github.com/gioboa/jira-plugin/blob/aca9e7d1d57e6446be3313321bdaf4681cc60fb8/src/services/git-integration.service.ts#L158) you have the code.
mapProjectKeyIfNeeed is the method that use this mapping configuration.

[2020-02-14 13:14] SchmidtDawid commented on #141
Oh ok i get it now ;). Thanks!

[2020-02-14 14:48] gioboa commented on #141
@SchmidtDawid Did you solve you issue? Can we close it?

[2020-02-14 14:48] gioboa commented on #141
@SchmidtDawid Did you solve you issue? Can we close it?

[2020-02-14 15:01] SchmidtDawid commented on #141
Yes :)

Sent from Mailspring (https://link.getmailspring.com/link/AFD96943-0ABC-46C2-A37C-E782CD21B9C9@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrQUdNQ1VKNTRPUTVXUzZUVlE1R0RQV1Y0S1BTNURFVkJOSEhDRE1PR1lBQHJlcGx5LmdpdGh1Yi5jb20%3D), the best free email app for work
On Feb 14 2020, at 3:48 pm, Giorgio Boa <notifications@github.com> wrote:

[2020-02-14 15:02] #141 closed

[2020-03-01 15:47] gioboa commented on #140
I've built an alpha version to test this feature.
I've done start/stop button because pause icon has different color. :disappointed:
Please have a try and give me feedback. :+1:
If all it's ok, I will release a new official version. :smile:

[jira-plugin-0.19.1.zip](https://github.com/gioboa/jira-plugin/files/4272006/jira-plugin-0.19.1.zip)

[2020-03-03 03:05] micharaze commented on #140
Seems to working well. How about putting the clock together with the start/stop button in one field and the issue selecting in another. Currently the clock is together with the issue field and the start stop is alone.

Currently:
Working Issue: IssueID123⌚00:23:54  |  ⏹

My suggestion:
Working Issue: IssueID123  | ⌚00:23:54 ⏹

So the functionalities are better separated. I hope this was clear enou

[2020-03-03 03:14] gioboa commented on #140
Sure, great catch :+1:

[2020-03-03 10:43] tfbroner opened #142 "feat: Disable warning "Working project isn't set""
At the moment, when VSCode starts, or workspace folder changes, or if I open single file for editing, the plugin will SHOUT OUT LOUD "Working project isn't set", which is quite annoying to be honest. Can we have a setting to disable this please ?
![2020-03-03_10h43_24](https://user-images.githubusercontent.com/38210067/75768208-d1a61e80-5d3b-11ea-91e6-72446adffef9.png)

[2020-03-03 11:32] gioboa commented on #142
Ok, I will check. :+1:

[2020-03-03 14:31] gforrest-bw opened #143 "issue: if the branch name issue ID casing differs from the Jira project, the plugin gets confused"
**Describe the issue**

I use lowercase characters for my branch names. Our JIRA project ID is "UI", but my branches generally use `ui`.

When I utilize the feature to auto-select an issue based on branch name (which is very convenient!), the plugin tries to set my active project to `ui`, and it doesn't seem to work correctly, as evidenced by the error below.

**To Reproduce**

Steps to reproduce

[2020-03-03 14:39] gforrest-bw commented on #143
Reading through the source code I discovered the project key mapping setting, which I believe will patch over this problem if I set `ui=UI`. However, assuming JIRA project keys can only be uppercase, I think it would be more elegant for the plugin to do this conversion automatically. I'm not confident that JIRA project keys can only be uppercase, but I've never seen one that isn't.

[2020-03-03 14:52] tfbroner commented on #142
Thanks, I had quick look at the code, and while it would be trivial to add option to not show the warning, I don't think it's the right solution. I found out that the connection to the Jira server is being made whenever the plugin is activated, which means everytime the VSCode starts.
Wouldn't it be better to do that on the explorer tab activation instead, or at least to make it optional?

[2020-03-03 15:39] ns-cweber opened #144 "issue: Can't set working project"
**Describe the issue**
Can't set working project

**To Reproduce**
Steps to reproduce the behavior:

1. Install plugin
2. Setup credentials
3. Click the "Project: NONE" icon in the bottom left"
4. Type project into text entry at the top and press enter
5. Observe that nothing happens; text entry remains as though it didn't register the selection

My guess is that there is some issue connecting, bu

[2020-03-03 19:06] gioboa commented on #143
Hi,
the plugin use this RegExp -> "branchName".match(/([A-Za-z0-9]+)-(\d+)/)

I will try to fix it. PR or help would be greatly appreciated. :+1:

[2020-03-03 19:10] gioboa commented on #144
Hi, did you see any project in the list (step 3)?

[2020-03-03 19:15] gioboa commented on #142
I can remove the message. I thought that it's a normal workflow when you open new project. What do you think?

[2020-03-03 19:52] ns-cweber commented on #144
Nope, no project was listed. I should note that I'm connecting to an on-prem instance; however, the official jira plugin connects fine.

[2020-03-03 20:55] gforrest-bw commented on #143
The important part is that after it matches the issue ID, it capitalizes the project key before setting the active project.

I suppose that could happen on this line, maybe using a named function which "normalizes" the project key: https://github.com/gioboa/jira-plugin/blob/develop/src/services/git-integration.service.ts#L162

[2020-03-03 21:15] gioboa commented on #143
I will fix it. 👍

[2020-03-03 21:20] gioboa commented on #144
The error was thrown [here](https://github.com/gioboa/jira-plugin/blob/1cc9882a397b68556c37a79abcc1a89fc46e7eb2/src/services/http.service.ts#L41) Try to reconfigure the settings please. :+1:
Pay attention at your password or your token password. Thanks

[2020-03-03 22:46] gioboa commented on #140
Here you can try an alpha version
[jira-plugin-0.19.1-alpha1.zip](https://github.com/gioboa/jira-plugin/files/4284005/jira-plugin-0.19.1-alpha1.zip)

[2020-03-03 22:48] gioboa commented on #143
Here you can try an alpha version.
Please have a try and give me feedback. :+1:
If all it's ok, I will release a new official version. :smile:
[jira-plugin-0.19.1-alpha1.zip](https://github.com/gioboa/jira-plugin/files/4284007/jira-plugin-0.19.1-alpha1.zip)

[2020-03-03 22:53] gioboa commented on #142
Here you can try an alpha version.
Please give me feedback. :+1:
If all it's ok, I will release a new official version. :smile:
[jira-plugin-0.19.1-alpha2.zip](https://github.com/gioboa/jira-plugin/files/4284021/jira-plugin-0.19.1-alpha2.zip)

[2020-03-12 17:54] gforrest-bw commented on #143
I gave it a spin, and it seems to work - I didn't get any error messages, even after removing my `ui=UI` alias in settings.

[2020-03-12 18:18] gioboa commented on #143
Thank you for your feedback :+1:

[2020-03-15 11:46] micharaze commented on #140
Looks good! Thanks for that.

[2020-04-09 14:04] #142 closed

[2020-04-09 14:04] #144 closed

[2020-04-10 15:15] #143 closed

[2020-04-10 15:16] #140 closed

[2020-05-19 23:12] spcsistemas22 opened #146 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jira-plugin`
- Extension Version: `0.20.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-05-20 05:35] gioboa commented on #146
Can I have more context about this error?

[2020-05-28 16:47] walidvb opened #148 "Authenticating via password should be deprecated"
**Describe the issue**
the plugin still offers password authentication, although JIRA responds with a deprecation error

Also, it would be good to explain how to generate an OAuth token within this plugin(or link to the relevant page): https://id.atlassian.com/manage-profile/security/api-tokens
(found in #129 )

**To Reproduce**
Steps to reproduce the behavior:

1. Install plugin
2. Run 'Setup Cre

[2020-05-28 17:57] gioboa commented on #148
Hi @walidvb,
if your Jira doesn't support basic authentication you can fill the password input with your user Jira token.
Basic authentication is supported for old Jira version. :+1:

[2020-05-28 17:59] walidvb commented on #148
My bad, I figured this would be for all JIRA users. thanks for your time and attention (maybe a mention to the url to create OAuth would be useful anyways!)
I'll let you close, as maintainer 🙏🏻

[2020-05-28 18:01] gioboa commented on #148
[Here](https://github.com/gioboa/jira-plugin#setup) I've mentioned about the token :+1:

[2020-05-28 18:01] #148 closed

[2020-05-28 21:45] #146 closed

[2020-07-01 17:31] MatrixArchitect opened #149 "Unable to set up project after logging in"
Hello,

After logging in to Jira from VS Code using Jira Plugin, when I click on the Project icon in the status bar, I get the following error in my Jira Plugin terminal output (the url pointing to confluence ends up in a 404):
{"statusCode":401,"body":"Basic authentication with passwords is deprecated.  For more information, see: https://confluence.atlassian.com/cloud/deprecation-of-basic-authent

[2020-07-01 17:54] gioboa commented on #149
Hi @MatrixArchitect ,
It's a well known log...
You can have a look at #148 issue.
You can use your personal token instead password :+1:
If you like the project, please give it a :star: :smile:

[2020-07-01 18:00] MatrixArchitect commented on #149
Thanks! Will do once I come up to speed on it on the plugin.

[2020-07-01 18:04] gioboa commented on #149
Can I close this issue?
Did you solve the problem? 😉

[2020-07-01 18:08] MatrixArchitect commented on #149
That seems to have solved this problem. Please go ahead and close it. Thanks for being prompt. :)

[2020-07-01 18:09] MatrixArchitect commented on #149
My 2c: add this known issue to an FAQ?

[2020-07-01 18:15] #149 closed

[2020-07-01 18:19] gioboa commented on #149
I mentioned this feature in the [docs](https://github.com/gioboa/jira-plugin#setup), maybe it is not visible enough :+1:

[2020-07-01 18:40] MatrixArchitect commented on #149
I saw it, but it didn't register what it entailed. Not sure if there are others out there like me. But if there are, I would phrase it something like this:
password: the token (make sure this your authentication token, not password, more info [here #148](https://github.com/gioboa/jira-plugin/issues/148)

Something like that. Just my 2c.

I left you a review on the market place.

[2020-07-23 13:59] heartacker opened #151 "feat: support copy remote url with Right-click menu"
hi, that will be greet if we can copy the remote url from Right-click menu. thanks.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
add copy url there. 3q
![image](https://user-images.githubusercontent.com/1876302/88295175-a4303080-cd2f-11ea-8141-b2ef5c7b5ff5.png)

[2020-07-23 17:25] gioboa commented on #151
Hi @heartacker, I will implement this feature.
The implementation is quite simple and can help many users. 👍

[2020-07-24 01:17] heartacker commented on #151
😄 .thanks haha

[2020-08-10 15:10] gioboa commented on #151
Implemented in [v 0.21.0](https://github.com/gioboa/jira-plugin/releases/tag/0.21.0) :+1:

[2020-08-10 15:10] #151 closed

[2020-09-30 10:09] danstreeter opened #153 "issue: Added work log time begins at submitted time"
**Describe the issue**
When submitting a work log via either the 'Set Working Issue -> No Working Issue' or 'Stop Working On Issue' commands, the time logged in Jira STARTS at the submitted time, not 'Now - time worked'
E.G.
- Start Working on issue at 0930
- Work for 30 minutes
- Submit worklog to Jira
- Check Jira
- Worklog has been entered as starting at 1000 and running until 1030

**To Reprod

[2020-09-30 10:16] gioboa commented on #153
Hi, thanks for your feedback.
I will check if there is the possibility to force starting time. 👍

[2020-09-30 10:22] danstreeter commented on #153
No problem, i'm going to look also - and see how my colleagues are doing it (not with this plugin, but via their own home written Jira worklog updaters), but may not be able to look at this until late this afternoon/evening when we are 'offline' work mode.

[2020-09-30 10:48] gioboa commented on #153
[Here](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-worklogs/#api-rest-api-3-issue-issueidorkey-worklog-post) the Jira worklog API docs.
This property solve the issue:
_from above docs_
`started
string
The datetime on which the worklog effort was started. Required when creating a worklog. Optional when updating a worklog.
Format: date-time`

[Here](https://github.com

[2020-09-30 10:52] danstreeter commented on #153
Indeed - just found the same. Am testing a change now. =)

[2020-09-30 10:56] danstreeter commented on #153
I can confirm (via Postman tests) that the API allows the following payload to create a worklog at the submitted 'started' time:

`{
	"issueKey": "TP-203",
	"timeSpentSeconds": 120,
	"comment": "Testing API Worklog Entry at specific time",
	"started": "2020-09-30T10:30:00.031+0100"
}`

What I will struggle with is getting that format from the language (as not a language I know.

If you can provide

[2020-09-30 10:57] danstreeter commented on #153
Agh, however it will need to be calculated using the timeSpentSeconds...

So `'started' == (now_in_seconds - timeSpentSeconds)`

[2020-09-30 11:04] danstreeter commented on #153
If you want to change yourself to get to the same point as me here is a simple patch:

[code]

[2020-09-30 11:35] gioboa commented on #153
You deserve the resolution 🥇
I will release the new version with this fix 👍

[2020-09-30 11:37] danstreeter commented on #153
Agh, i was just about there! ;) Lets see what we both come up with!!! =)

[2020-09-30 11:39] danstreeter commented on #153
Haha, yes - My final change worked and submits successfully... I'd be interested in your fix - knowing the language, as I had to include a new function to turn the Date(),toISOString() format into one that Jira accepts with the actual timezone format (+0100) instead of Zulu.

[2020-09-30 11:41] danstreeter commented on #153
My final diff (ready for commit, but I wont as you probably have a better fix) is as follows:

[code]

[2020-09-30 11:42] gioboa commented on #153
Yep, I thought the same approach.
Unfortunately date time is a difficult stuff in Js.

[2020-09-30 11:44] danstreeter commented on #153
Yeah, I thought that... but thought it may have just been me having no real clue on this level of JS.

_"Many a stack overflow post was read in the fixing of this bug"_

[2020-10-02 08:05] danstreeter commented on #153
@gioboa - Hows the new release going? Did you need me to push the code I did above or were you going with what you had?

[2020-10-02 08:20] gioboa commented on #153
I will include the code in the develop branch and I will release the new version. 👍

[2020-10-02 08:58] #153 closed

[2020-10-14 12:11] ididitmyway opened #154 "issue: JIRA:EXPLORER Add comment cause errorMessages "Can not deserialize instance of java.lang.String"
**Describe the issue**
I just installed the Extension 2020/10/14
I set Strict SSL to false.
I able to create Issues, To JQL Issues and more.
I can not add a Comment to a ticket

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'JIRA:EXPLORER'
2. Right Click on a 'ticket'
3. Click on 'Add comment'
4. Type text 'this is a test'
5. See error in OUTPUT JIRA-PLUGIN
"errorMessages":["Can not